<div class="mobile-page">
    <div class="container mt-5">
        <div class="row justify-content-sm-center">
            <mat-card class="col-md-5">
                <h3>
                    <mat-icon>person_add</mat-icon>
                    {{title}}
                </h3>

                <p class="p-p1"><i>* Create New Accounts</i></p>
                <mat-form-field color="accent" class="w-100">
                    <input type="email" matInput [(ngModel)]="email" name="email" placeholder="Email" required>
                    <button mat-button *ngIf="email" matSuffix mat-icon-button aria-label="Clear" (click)="email=''">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>

                <mat-form-field color="accent" class="w-100">
                    <input type="text" matInput #message1 maxlength="25" [(ngModel)]="name" name="name" placeholder="Full Name" required>
                    <mat-hint align="end">{{message1.value.length}}</mat-hint>
                    <button mat-button *ngIf="name" matSuffix mat-icon-button aria-label="Clear" (click)="name=''">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>

                <mat-form-field color="accent" class="w-100">
                    <input type="password" matInput #message4 minlength="6" [(ngModel)]="password" name="password" placeholder="Password" required>
                    <mat-hint align="start"><strong>Min 6 Character</strong></mat-hint>
                    <mat-hint align="end">{{message4.value.length}}</mat-hint>
                    <button mat-button *ngIf="password" matSuffix mat-icon-button aria-label="Clear" (click)="password=''">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>

                <mat-form-field color="accent" class="w-100">
                    <input type="password" #message2 minlength="6" matInput [(ngModel)]="password1" name="password1" placeholder="Confirm Password" required>
                    <mat-hint align="start"><strong>Min 6 Character</strong></mat-hint>
                    <mat-hint align="end">{{message2.value.length}}</mat-hint>
                    <button mat-button *ngIf="password1" matSuffix mat-icon-button aria-label="Clear" (click)="password1=''">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>

                <mat-form-field color="accent" class="w-100">
                    <mat-select name="company" placeholder="Company" [(ngModel)]="company">
                        <mat-option *ngFor="let company of dataCompany" [value]="company.code">
                        {{ company.description }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field color="accent" class="w-100">
                    <mat-select name="dept-code" placeholder="Department Code" [(ngModel)]="dept_code">
                        <mat-option *ngFor="let dept of dataDept" [value]="dept.code">
                        {{ dept.code }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field color="accent" class="w-100">
                    <mat-select name="role" placeholder="Role" [(ngModel)]="role">
                        <mat-option *ngFor="let role of dataRole" [value]="role.code">
                        {{ role.code }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field color="accent" class="w-100">
                    <mat-select name="sales" placeholder="Sales Code" [(ngModel)]="salesPerson">
                        <mat-option *ngFor="let sales of dataSalesPerson" [value]="sales.code">
                        {{ sales.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field color="accent" class="w-100">
                    <mat-select name="retailUser" placeholder="Retail User" [(ngModel)]="retailUser">
                        <mat-option *ngFor="let sales of dataRetailUser" [value]="sales.ID">
                        {{ sales.ID }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <button mat-flat-button color="primary" class="button-p1 mt-3 mr-3 float-right" (click)="register()">Register</button>
            </mat-card>
        </div>
    </div>
</div>
