.mat-card:not([class*=mat-elevation-z]) {
    box-shadow:none;
}
.mobile-page{
  font-family: Roboto;
}

.docs-navbar-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-spacer {
  flex-grow: 1;
}

.flex-spacer1 {
  flex-grow: 2;
}

.docs-navbar-show-small {
  display: none;
}

.app-navbar{
  background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    box-shadow:0 0 1px 0 #ccc;
}
@media (max-width: 720px) {
  .image-size{
    height:330px;
    padding-left:16px;
    padding-right:16px;
  }

  .docs-navbar-hide-small {
    display: none;
  }

  .docs-navbar-show-small {
    display: block;
  }

  .navbar-detail{
    font-size: 20px;
    margin-left: 10%;
  }

  .mat-toolbar-row, .mat-toolbar-single-row {
      height: 40px;
  }

}

.navbar-detail1{
  font-size: 20px;
  margin-left: 20%;
}
p{
	font-family: 'Roboto';
}
.font-14-normal{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.214286px;
  color: #000000;
  margin-top: -15px;
}
.font-14-medium{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.214286px;
  color: #000000;
  margin-top: -15px;
}
.font-14-bold{
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.214286px;
  color: #000000;
}
@media (min-width: 580px) {
  mat-panel-title {
    margin-left: 4%;
  }
}

@media (min-width: 900px) {
  .line {
    margin-left: 4%;
  }
  .table {
    width: 80%;
    margin-left: 14%;
  }
}


/* Responsive Expantion */
@media (max-width: 360px) {
  .description{
    margin-left: 5%;
  }
  .expantion{
    margin-left: -3%;
    margin-top: -4px;
  }
}
@media (min-width: 360px) {
  .description{
    margin-left: 5%;
  }
  .expantion{
    margin-left: -2%;
    margin-top: -4px;
  }
}
@media (min-width: 400px) {
  .description{
    margin-left: 2%;
  }
  .expantion{
    width: 105%;
    margin-left: -4%;
    margin-top: -4px;
  }
}
@media (min-width: 450px) {
  .description{
    margin-left: 3%;
  }
  .expantion{
    width: 105%;
    margin-left: -3%;
    margin-top: -2px;
  }
}
@media (min-width: 500px) {
  .description{
    margin-left: 3%;
  }
  .expantion{
    width: 104%;
    margin-left: -2%;
    margin-top: -2px;
  }
}
@media (min-width: 600px) {
  .description{
    margin-left: 3%;
  }
  .expantion{
    width: 108%;
    margin-left: -5.5%;
    margin-top: -2px;
  }
}
/* Desktop */
@media (min-width: 1024px) {
  .description{
    margin-left: 26.5%;
  }
  .expantion{
    width: 56%;
    margin-left: 21%;
    margin-top: -2px;
  }
}
@media (min-width: 1280px) {
  .description{
    margin-left: 33%;
  }
  .expantion{
    width: 43%;
    margin-left: 28.5%;
    margin-top: -2px;
  }
}