<div class="app-navbar">
    <nav class="docs-navbar-header">
      <a mat-icon-button style="margin-left: 16px;" [routerLink]="['/products/list']" [queryParams]="{page: prod_list_page,description: prod_list_description}">
        <mat-icon style="margin-right: -3px;">
          arrow_back_ios
        </mat-icon>
      </a>
      <div class="flex-spacer"></div>
      <a mat-button class="docs-button navbar-detail docs-navbar-show-small" routerLink="/" aria-label="Angular Material">
          Product Detail
      </a>
      <a mat-button class="docs-button navbar-detail1 docs-navbar-hide-small" routerLink="/" aria-label="Angular Material">
          Product Detail
      </a>
      <div class="flex-spacer1"></div>
      <a mat-icon-button style="margin-right: 16px;" class="docs-button mt-1" [routerLink]="['/sales-order']">
        <mat-icon *ngIf="this.sales_order.chartQty == 0" matBadgeColor="primary" svgIcon="assignment"></mat-icon>
        <mat-icon *ngIf="this.sales_order.chartQty !== 0" matBadge="{{this.sales_order.chartQty}}" matBadgeColor="primary" matBadgePosition="before" svgIcon="assignment"></mat-icon>
      </a>
    </nav>
  </div>
  
 
  <div class="mobile-page page-detail">
    <mat-card class="mb-3 container col-md-8"> 
    <table style="width: 100%;">
      <tr>
        <td colspan="3" align="center" style="width:300px;height: 300px;">
            <img style="width:95%; border: 1px solid #ddd; border-radius: 8px;" src="/assets/image/{{data.user.company}}/detail/{{itemId}}[0].png" onerror="this.onerror=null;this.src='/assets/image/no-image.png'">
        </td>
      </tr>
      <tr height="1px">
        <td style="width: 8%">&nbsp;</td>
        <td>
        </td>
        <td style="width: 5%">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="3">
          <div class="description">
            <p class="font-14-normal">{{this.description}}</p>
            <p class="font-14-normal">{{this.description2}}</p>
            <p class="font-14-normal" *ngIf="dataItem.actualStock > 0" style="color: #008a00;">Available : {{dataItem.actualStock}}</p>
            <p class="font-14-normal" *ngIf="dataItem.actualStock <= 0" style="color: rgb(122, 124, 122);">Available : 0</p>
            <p style="font-size: 12px;" *ngIf="this.data.user.company === 'UNICODISTRIBUSI'||this.data.user.company === 'KLASSEN'">Rp {{price3}}<label class="font-12-grey"> / {{dataItem.UOM}}</label></p>
          </div>
          <div class="expantion" *ngIf="this.data.user.company === 'SENTRALTUKANG'">
            <mat-expansion-panel style="margin-top: -10px;">
                <mat-expansion-panel-header [collapsedHeight]="customCollapsedHeightPrice" [expandedHeight]="customExpandedHeightPrice">
                  <mat-panel-title>                    
                    <div style="font-size: 12px;" *ngIf="this.dataItems === null">
                        Rp {{price3}}<label class="font-12-grey"> / {{dataItem.UOM}}</label>
                    </div>  
                    <!-- Any Data -->
                    <div style="font-size: 12px;" *ngIf="this.dataItems !== null">
                     <p *ngIf="this.dataItems.discGroup === undefined">
                        Rp {{price3}}<label class="font-12-grey"> / {{dataItem.UOM}}</label>
                      </p>
                      <p *ngIf="this.dataItems.discGroup === 'CASH' && this.data.user.dept_code === 'PDG'">
                        Rp {{price1}}<label class="font-12-grey"> / {{dataItem.UOM}}</label>
                      </p>
                      <p *ngIf="this.dataItems.discGroup === 'CASH' && this.data.user.dept_code === 'PKU'">
                        Rp {{price2}}<label class="font-12-grey"> / {{dataItem.UOM}}</label>
                      </p>
                      <p *ngIf="this.dataItems.discGroup === 'PKU_M_CASH'">
                        Rp {{price1}}<label class="font-12-grey"> / {{dataItem.UOM}}</label>
                      </p>
                      <p *ngIf="this.dataItems.discGroup === 'PKU_M_KRDT'">
                        Rp {{price3}}<label class="font-12-grey"> / {{dataItem.UOM}}</label>
                      </p>
                      <p *ngIf="this.dataItems.discGroup === 'PDG_KRDT'">
                        Rp {{price3}}<label class="font-12-grey"> / {{dataItem.UOM}}</label>
                      </p>
                      <p *ngIf="this.dataItems.discGroup === 'PDG_KRDT_M'">
                        Rp {{price2}}<label class="font-12-grey"> / {{dataItem.UOM}}</label>
                      </p>
                    </div>   
                      
                  </mat-panel-title>
                  <mat-panel-title *ngIf="this.data.user.company !== 'SENTRALTUKANG'">            
                    <p > Rp {{price3}} <label class="font-12-grey">&nbsp;/ {{dataItem.UOM}}</label></p>
                  </mat-panel-title>
                </mat-expansion-panel-header>   
                <hr class="line" *ngIf="this.data.user.company === 'SENTRALTUKANG'">
                <table class="table" style="font-size: 12px;margin-left: 15px;" *ngIf="this.data.user.company === 'SENTRALTUKANG'">
                  <!-- 1 -->
                    <tr *ngIf="this.data.user.dept_code === 'PDG'">
                      <td>Cash</td>
                      <td width="1%">:</td>
                      <td>
                          Rp {{price1}}<label class="font-12-grey"> / {{dataItem.UOM}}</label>
                      </td>
                    </tr>
                    <tr *ngIf="this.data.user.dept_code === 'PKU'">
                      <td>Member Cash</td>
                      <td width="1%">:</td>
                      <td>
                          Rp {{price1}}<label class="font-12-grey"> / {{dataItem.UOM}}</label>
                      </td>
                    </tr>
                  <!-- 2 -->
                    <tr *ngIf="this.data.user.dept_code === 'PDG'">
                      <td>Member Kredit</td>
                      <td>:</td>
                      <td>
                          Rp {{price2}}
                          <label class="font-12-grey">/ {{dataItem.UOM}}</label>
                      </td>
                    </tr>
                    <tr *ngIf="this.data.user.dept_code === 'PKU'">
                      <td>Cash</td>
                      <td>:</td>
                      <td>
                          Rp {{price2}}
                          <label class="font-12-grey">/ {{dataItem.UOM}}</label>
                      </td>
                    </tr>
                  <!-- 3 -->
                    <tr *ngIf="this.data.user.dept_code === 'PDG'">
                      <td>Kredit</td>
                      <td>:</td>
                      <td>
                          Rp {{price3}}
                          <label class="font-12-grey">/ {{dataItem.UOM}}</label>
                      </td>
                    </tr>
                    <tr *ngIf="this.data.user.dept_code === 'PKU'">
                      <td>Member Kredit</td>
                      <td>:</td>
                      <td>
                          Rp {{price3}}
                          <label class="font-12-grey">/ {{dataItem.UOM}}</label>
                      </td>
                    </tr>            
                  </table>    
              </mat-expansion-panel>
            </div>
          </td>
        </tr>
        <tr>
            <td colspan="3" align="center" style="width:300px;">  
              <button *ngIf="dataItem.actualStock > 0" mat-flat-button class="btn-block" color="primary" (click)="openDialogOrder(dataItem)" style="width: 95%;margin-top: 8px;">
                Order
              </button>
              <button *ngIf="dataItem.actualStock <= 0" mat-flat-button class="btn-block" disabled style="width: 95%; margin-top: 8px;">
                Order
              </button>            
            </td>
        </tr> 
    </table>
    
  </mat-card>
</div>  