<div class="mobile-page">
    <div class="container mt-5">
        <div class="row justify-content-sm-center">
            <mat-card class="col-md-5">
                <h4><br>
                    <table>
                        <tr>
                        <td style="width: 1px;"><mat-icon svgIcon="colorize"></mat-icon></td>
                        <td>{{title}}</td>
                        </tr>
                    </table>
                </h4>

                <p class="p-p1"><i>* Edit Data User</i></p>
                <mat-form-field color="accent" class="w-100">
                    <input type="text" [(ngModel)]="dataUser._id" #message matInput placeholder="Id" name="_id" disabled>
                </mat-form-field><br>

                <mat-form-field color="accent" class="w-100">
                    <input type="text" [(ngModel)]="dataUser.name" #message matInput placeholder="Full Name" name="name" >
                    <button mat-button *ngIf="dataUser.name" matSuffix mat-icon-button aria-label="Clear" (click)="dataUser.name=''">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>

                <mat-form-field color="accent" class="w-100">
                    <input type="email" [(ngModel)]="dataUser.email" #message matInput placeholder="Email" name="email" >
                    <button mat-button *ngIf="dataUser.email" matSuffix mat-icon-button aria-label="Clear" (click)="dataUser.email=''">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>

                <mat-form-field color="accent" class="w-100">
                    <mat-select name="company" placeholder="Company" [(ngModel)]="dataUser.company">
                        <mat-option *ngFor="let company of dataCompany" [value]="company.code">
                        {{ company.description }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field color="accent" class="w-100">
                    <mat-select name="dept" placeholder="Department Code" [(ngModel)]="dataUser.dept_code">
                        <mat-option *ngFor="let dept of dataDept" [value]="dept.code">
                        {{ dept.code }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field color="accent" class="w-100">
                    <mat-select name="role" placeholder="Role" [(ngModel)]="dataUser.role">
                        <mat-option *ngFor="let role of dataRole" [value]="role.code">
                        {{ role.code }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field color="accent" class="w-100">
                    <mat-select name="sales" placeholder="Sales Code" [(ngModel)]="dataUser.salesPerson">
                        <mat-option *ngFor="let sales of dataSalesPerson" [value]="sales.code">
                        {{sales.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field color="accent" class="w-100">
                    <mat-select name="retail" placeholder="Retail User" [(ngModel)]="dataUser.retailUser">
                        <mat-option *ngFor="let sales of dataRetailUser" [value]="sales.ID">
                        {{sales.ID }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field color="accent" class="w-100">
                    <input type="number" [(ngModel)]="dataUser.ip" #message matInput placeholder="IP Address" name="ip" >
                    <button mat-button *ngIf="dataUser.ip" matSuffix mat-icon-button aria-label="Clear" (click)="dataUser.ip=''">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>

                <mat-checkbox [(ngModel)]="dataUser.status" class="w-100" name="status">Status (Blocked)</mat-checkbox><br>

                <mat-checkbox [(ngModel)]="dataUser['aproveLimit1']" class="w-100" name="firstApprove">Approve Limit 1</mat-checkbox><br>
                <mat-checkbox [(ngModel)]="dataUser['aproveLimit2']" class="w-100" name="secondApprove">Approve Limit 2</mat-checkbox><br>
                <mat-checkbox [(ngModel)]="dataUser['aproveDiscount']" class="w-100" name="approveDiscount">Approve Discount</mat-checkbox>

                <button mat-flat-button color="primary" class="button-p1 mt-5 mr-3 float-right" (click)="SaveEdit()">{{title}}</button>
            </mat-card>
        </div>
    </div>
</div>
