<table style="margin-top: -10px;">
  <tr>
    <td><label style="margin-left:-3px;" class="label-stock font-family font-medium">Stock</label></td>
    <td align="right"><button mat-icon-button style="margin-right:-15px;"><mat-icon svgIcon="close" (click)="onNoClick()"></mat-icon></button></td>
  </tr>
</table>
<div>
  <mat-list *ngIf="dataitem.items" style="margin-top:-20px;">
    <mat-list-item>
      <p mat-line  class="font-14"style="font-weight: 600;" >{{dataitem.items.Description}}</p>
      <p mat-line class="font-14" style="margin-top:5px; font-weight: 600;" *ngIf="dataitem.items.Description2 !==''">
        {{dataitem.items.Description2}}
      </p>
      <p mat-line class="font-14" *ngIf="dataitem.items.Description2 == ''">
        <br>
      </p>
        <p mat-line style="margin-top:5px;color: #008a00;" class="font-14" *ngIf="(dataitem.items.Inv+dataitem.items.InvToday-dataitem.items.soQty-dataitem.items.ToOut-dataitem.items.ToOutToday-dataitem.items.NotPosted-dataitem.items.NotPostedToday-dataitem.items.ShipTodayToOutNotToday) > 0">
        Available : {{dataitem.items.Inv+dataitem.items.InvToday-dataitem.items.soQty-dataitem.items.ToOut-dataitem.items.ToOutToday-dataitem.items.NotPosted-dataitem.items.NotPostedToday-dataitem.items.ShipTodayToOutNotToday}}
      </p>
        <p mat-line style="margin-top:5px;" class="font-12-grey" *ngIf="(dataitem.items.Inv+dataitem.items.InvToday-dataitem.items.soQty-dataitem.items.ToOut-dataitem.items.ToOutToday-dataitem.items.NotPosted-dataitem.items.NotPostedToday-dataitem.items.ShipTodayToOutNotToday)<= 0">
        Available : 0
      </p>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
  <p mat-line>
  <mat-accordion class="example-headers-align">
      <mat-expansion-panel disabled>
        <mat-expansion-panel-header [collapsedHeight]="customCollapsedHeightDsbl">
          <mat-panel-title class="font-12">
            <p>Actual</p>
          </mat-panel-title>
          <mat-panel-description class="font-12" style="margin-right: -10px;">
            <!-- {{dataitem.items.Inv+dataitem.items.InvToday-dataitem.items.So-dataitem.items.ToOut-dataitem.items.NotPosted}} -->
            {{dataitem.items.Inv+dataitem.items.InvToday-dataitem.items.NotPosted-dataitem.items.NotPostedToday}}
            
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-divider></mat-divider>
      </mat-expansion-panel>
    </mat-accordion>
  <mat-accordion class="example-headers-align" *ngIf="incomingItem.length !== 0">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="font-12">
          Incoming
        </mat-panel-title>
        <mat-panel-description class="font-12" style="margin-right: -20px;">
          {{this.total}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-divider></mat-divider>
      <div class="font-12" *ngFor="let incoming of incomingItem">
        <p *ngIf="incoming.type === 0 ">
        Expected Date : {{incoming.Tgl}}
        <label class="float-right">{{incoming.OutsQty}}</label>
        </p>
        
        <p *ngIf="incoming.type === 1 ">
        {{incoming.Tgl}}
        <label class="float-right">{{incoming.OutsQty}}</label>
        </p>

       </div>
    </mat-expansion-panel>
  </mat-accordion>
</p>
</div>
