.label-stock{
  font-size: 20px;
}

.font-family {
  font-family: 'Roboto';
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
}

@media (min-width: 100px) {
  .close {
    position: absolute;
    right:15%;
  }
}

@media (min-width:800px) {
  .close {
    position: absolute;
    right:20%;
  }
}

@media (min-width:1024px) {
  .close {
    position: absolute;
    right:25%;
  }
}

@media (min-width:1125px) {
  .close {
    position: absolute;
    right:30%;
  }
}
