<div style="margin-top: -45px; height: 75px;">
    <button mat-icon-button style="left: 90%;margin-top: 30px;"><mat-icon (click)="onNoClick()">close</mat-icon></button>
    <mat-list *ngIf="dataitem.items" style="margin-top: -20px;">
        <mat-list-item style="margin-bottom: 16px;">
        <img style="border: 1px solid #ddd;border-radius: 8px;width:80px; height:80px;margin-top:10px;" matListAvatar src="/assets/image/{{ data.user.company }}/list/{{dataitem.items.No}}[0].png"  onerror="this.onerror=null;this.src='/assets/image/no-image.png'">
        <p mat-line class="font-14" style="font-weight: 500;">
            {{dataitem.items.Description}}
        </p>
        <p mat-line style="margin-top:5px; font-weight: 500;" class="font-14" *ngIf="dataitem.items.Description2 !==''">
            {{dataitem.items.Description2}}
        </p>
        <p mat-line class="font-14" *ngIf="dataitem.items.Description2 == ''">
            <br>
        </p>
        <p mat-line style="margin-top:5px;" class="font-12">
        <p>
        <p mat-line style="margin-top:5px;color: #008a00;" class="font-14" *ngIf="dataitem.items.actualStock > 0">
            Available : {{dataitem.items.actualStock}}
            <p mat-line style="margin-top:5px;color: #008a00;" class="font-14" *ngIf="(dataitem.items.Inv-dataitem.items.InvToday-dataitem.items.soQty-dataitem.items.ToOut-dataitem.items.ToOutToday-dataitem.items.NotPosted-dataitem.items.NotPostedToday-dataitem.items.ShipTodayToOutNotToday) > 0">
            Available : {{dataitem.items.Inv+
                dataitem.items.InvToday-
                dataitem.items.soQty-
                dataitem.items.ToOut-
                dataitem.items.ToOutToday-
                dataitem.items.NotPosted-
                dataitem.items.NotPostedToday-
                dataitem.items.ShipTodayToOutNotToday}}
        </p>
        <p mat-line style="margin-top:5px;" class="font-14-grey" *ngIf="(dataitem.items.Inv-dataitem.items.InvToday-dataitem.items.soQty-dataitem.items.ToOut-dataitem.items.ToOutToday-dataitem.items.NotPosted-dataitem.items.NotPostedToday-dataitem.items.ShipTodayToOutNotToday)  <= 0">
            0
        </p>
        </mat-list-item>
    </mat-list>

    <div style="height:75px;">
        <mat-toolbar style="background-color:white;">
            <mat-toolbar-row>
            <span class="font-14">Quantity</span>
            <span class="flex-spacer"></span>
            <mat-icon (click)="removeIcon(actualStock)" *ngIf="qty !== 0" color="primary">remove</mat-icon>
            <input class="input-number" type="number"  min="1" step="1" onkeypress='return event.charCode >= 48 && event.charCode <= 57' [(ngModel)]=qty (change)="updateQty(actualStock)">
            <mat-icon (click)="addIcon(actualStock)" *ngIf="qty < actualStock" color="primary">add</mat-icon>
            <mat-icon *ngIf="qty >= actualStock" disabled style="color: rgb(172, 169, 169)">add</mat-icon>
            </mat-toolbar-row>
            <mat-divider></mat-divider>
        </mat-toolbar>
        <mat-divider></mat-divider>
        <p class="font-family font-12"  style="text-align:center;"></p>
        <button mat-flat-button class="btn-block mb-2 mt-2" color="primary" *ngIf="qty === 0 " disabled >Order</button>
        <button mat-flat-button class="btn-block mb-2 mt-2" color="primary" *ngIf="qty !== 0" (click)="order()">Order</button>
    </div>
</div>