.mat-card:not([class*=mat-elevation-z]) {
    box-shadow:none;
}

.font-family{
  font-family: 'Roboto';
}
.flex-spacer {
  flex-grow: 1;
}

/* input type number */
* {
  box-sizing: border-box;
}

.input-number {
  width: 40px;
  vertical-align: top;
  text-align: center;
  outline: none;
  border: 1px;
  width: 50px;
  height: 15px;
  user-select: none;
}

@media (min-width: 100px) {
  .close {
    position: absolute;
    right:15%;
  }
}

@media (min-width:800px) {
  .close {
    position: absolute;
    right:20%;
  }
}

@media (max-width:600px) {
  .mat-toolbar-multiple-rows {
    height: 10px;
    min-height: 40px;
}
}

@media (min-width:1024px) {
  .close {
    position: absolute;
    right:25%;
  }
}

@media (min-width:1125px) {
  .close {
    position: absolute;
    right:30%;
  }
}
