<table>
  <tr>
    <td><label style="margin-left: -3px;" class="label-stock font-family font-medium">Draft</label></td>
    <td align="right"><button mat-icon-button style="margin-right: -15px;"><mat-icon svgIcon="close" (click)="onNoClick()"></mat-icon></button></td>
  </tr>
</table>
<mat-list style="margin-top: -10px;" *ngIf="dataDraftList !== null">
  <mat-list-item *ngFor="let dataList of dataDraftList; let i = index;">
    <p mat-line class="font-15 normal-font"  (click)="openDialogDarftConfirm(dataList,i)">
      {{dataList.custName + dataList.custName2}}
      <label class="float-right">{{dataList.totalAmount.toLocaleString(['id'])}}</label>
    </p>    
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>
