<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<p mat-dialog-title class="font-16 normal-font font-medium">Clear existing order?</p>
<mat-dialog-actions class="button-row">
  <table style="width: 100%;" class="font-12 normal-font">
    <tr>
      <td style="width: 50%;"><button mat-stroked-button style="color: #757575;" mat-dialog-close><font>Cancel</font></button></td>
      <td><button mat-flat-button color="primary" [mat-dialog-close]="true" cdkFocusInitial (click)="selectDraft()"><font>Ok</font></button></td>
    </tr>
  </table> 
</mat-dialog-actions>