<h2 mat-dialog-title class="expired">Your account is blocked</h2>
<div mat-dialog-actions align="end" class="button-row">
  <button mat-flat-button color="primary" class="btn-block" [mat-dialog-close]="true" cdkFocusInitial (click)="login()">Ok</button>
</div>
