<div class="mobile-page page">
  <div class="container-fluid">
    <mat-card class="p-3 pb-5 pt-3 mt-4">

      <h4>
        <mat-icon>assignment</mat-icon>
        Role Show
      </h4>

      <mat-form-field color="accent" class="w-100">
        <input type="text" matInput [(ngModel)]="dataRole.code" name="code" placeholder="Code" disabled>
      </mat-form-field>
      <mat-form-field color="accent" class="w-100">
        <input type="text" matInput [(ngModel)]="dataRole.description" name="description" placeholder="description" disabled>
      </mat-form-field>

      <div class="table-responsive pt-2 pb-4 mb-3">
        <table class="table">
          <thead>
            <tr>
              <th>Description</th>
              <th colspan="2">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr  *ngFor="let k of objectKeys()">
              <td>
                {{dataRole.roleGroup[0].permissions[k].resource}}
              </td>
                <td *ngFor="let l of objectKeysII(dataRole.roleGroup[0].permissions[k].methods)">

                  {{dataRole.roleGroup[0].permissions[k].methods[l].http}}
                </td>

            </tr>
          </tbody>
        </table>
      </div>
    </mat-card>
  </div>
</div>
