<table>
  <tr>
      <td><label style="margin-left: -3px; " class="label-stock font-family font-medium">Delivery Address</label></td>
    <td align="right"><button mat-icon-button style="margin-right: -15px;"><mat-icon  svgIcon="close" (click)="onNoClick()"></mat-icon></button></td>
  </tr>
</table>

<div *ngIf="this.deliveryAddress !== null">
  <mat-list-item *ngFor="let delivery of this.deliveryAddress" (click)="saveDeliveryAddress(delivery)">
    <table>
      <tr>
        <td>
            <p mat-line class="font-8 normal-font">{{delivery.Code}}</p>
            <p style="margin-top: -5px; font-weight: 500;" mat-line class="font-14 font-medium">{{delivery.Name}} | {{delivery.PhoneNo}}<br>
              {{delivery.Address}} - {{delivery.City}} - {{delivery.county}}</p>
        </td>
        <td *ngIf="this.dataItem.deliveryAddress !== undefined">
          <i *ngIf="delivery.Code === this.dataItem.deliveryAddress.Code" style="color: #2492F4; margin-right: -8px" class="material-icons">done</i>
        </td>
      </tr>
    </table>
    <mat-divider></mat-divider>
  </mat-list-item>
</div>
<div>
<mat-divider *ngIf="this.deliveryAddress === null"></mat-divider>
<button  class="button-order btn-block" style="color:  #2196F3" mat-flat-button (click)="addDeliveryAddress()">
  <mat-icon svgIcon="add"></mat-icon>
  Add New Address
</button>
</div>