<table>
    <tr>
      <td><label class="label-stock font-family font-medium" >Customer</label></td>
      <td align="right"><button mat-icon-button style="margin-right: -15px;"><mat-icon svgIcon="close" (click)="onNoClick()"></mat-icon></button></td>
    </tr>
  </table>
  <mat-dialog-content>
    <div class="body-search">
      <form class="search-form">
        <!-- <input class="search-input" autocomplete="off" #search name="filter_description" (input)="processSearchCustomer(filter_description)" [(ngModel)]="filter_description" placeholder="Search"> -->
        <input class="search-input" autocomplete="off"autocomplete="off" #search name="filter_description"  #searchInput [(ngModel)]="filter_description" placeholder="Search">
        <button type="submit" class="search-button">
          <mat-icon class="submit-button" style="color:rgba(0, 0, 0, .20);">search</mat-icon>
        </button>
        <div class="search-option">
          <div>
            <label>
              <mat-icon *ngIf="filter_description !== '' && filter_description !== undefined" class="edit-pen-title" style="color: rgba(0, 0, 0, .20);" (click)="filter_description = ''">close</mat-icon>
            </label>
          </div>
        </div>
      </form>
    </div>
    <div *ngIf="this.Scrool == 0">
        <br>
        <p align="center">
            <mat-icon style="width: 50px; transform: scale(2); color: rgb(100, 98, 98)" svgIcon="search"></mat-icon><br><br>
            Sorry, customer "{{this.filter_description}}" cannot be found
        </p>
    </div>
    <div *ngIf="this.Scrool > 0">    
        <div *ngIf="!customer">
            <cdk-virtual-scroll-viewport itemSize="60" class="example-viewport" autosize>
                <mat-list style="margin-top: -15px;" *cdkVirtualFor="let customers of ds" class="example-item">  
                  
                <mat-list-item *ngIf="customers?.Name" (click)="ordercustomer(customers)">
                  <p mat-line style="font-weight: 500;" class="font-14">{{customers?.Name}} | {{customers?.City}}</p>
                  <p mat-line *ngIf="customers?.Email === ''" class="font-14">{{customers?.PhoneNo}}</p>
                  <p mat-line *ngIf="customers?.Email !== ''" class="font-14">{{customers?.PhoneNo}} | {{customers?.Email}}</p>
                  <mat-divider></mat-divider>
                </mat-list-item>
                <mat-list-item *ngIf="!customers?.Name" (click)="selectCustomer(customers)" style="cursor:pointer">
                      <p mat-line style="font-weight: 500;" class="font-14">Loading...</p>
                      <p mat-line *ngIf="customers?.Email === ''" class="font-14">Loading...</p>
                      <p mat-line *ngIf="customers?.Email !== ''" class="font-14">Loading...</p>
                      <mat-divider></mat-divider>
                  </mat-list-item>
              </mat-list>
            </cdk-virtual-scroll-viewport>
        </div>
        <div *ngIf="customer">
            <mat-list style="margin-top: -15px;"*ngFor="let customers of customer" class="example-item">  
              
                <mat-list-item *ngIf="customers?.Name" (click)="ordercustomer(customers)">
                  <p mat-line style="font-weight: 500;" class="font-14">{{customers?.Name}} | {{customers?.City}}</p>
                  <p mat-line *ngIf="customers?.Email === ''" class="font-14">{{customers?.PhoneNo}}</p>
                  <p mat-line *ngIf="customers?.Email !== ''" class="font-14">{{customers?.PhoneNo}} | {{customers?.Email}}</p>
                  <mat-divider></mat-divider>
                </mat-list-item>
                <mat-list-item *ngIf="!customers?.Name" (click)="selectCustomer(customers)" style="cursor:pointer">
                      <p mat-line style="font-weight: 500;" class="font-14">Loading...</p>
                      <p mat-line *ngIf="customers?.Email === ''" class="font-14">Loading...</p>
                      <p mat-line *ngIf="customers?.Email !== ''" class="font-14">Loading...</p>
                      <mat-divider></mat-divider>
                  </mat-list-item>
          </mat-list>
        </div>
    </div>
</mat-dialog-content>
  <!-- <mat-dialog-actions align="end">
    <button mat-flat-button color="primary" mat-dialog-close cdkFocusInitial>Close</button>
  </mat-dialog-actions> -->