<div class="mobile-page page">
  <div class="container-fluid">
    <mat-card class="p-3 pb-5 pt-3 mt-4">
      <h4>
        <mat-icon>assignment</mat-icon>
        List Role
      </h4>
        <div class="table-responsive pt-2 pb-4 mb-3">
          <table mat-table [dataSource]="roles" class="mat-elevation">

            <ng-container matColumnDef="Code">
              <th mat-header-cell *matHeaderCellDef class="fs"> Code </th>
              <td mat-cell *matCellDef="let role" class="pr-3"> {{role.code}} </td>
            </ng-container>

            <ng-container matColumnDef="Description" class="p-3">
              <th mat-header-cell *matHeaderCellDef class="fs"> Description </th>
              <td mat-cell *matCellDef="let role" class="pr-3"> {{role.description}} </td>
            </ng-container>

            <ng-container matColumnDef="Action" class="p-3">
              <th mat-header-cell *matHeaderCellDef class="fs"> Action</th>
              <td mat-cell *matCellDef="let role" class="pr-3">
                <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="role.code!=='SUPERUSER'">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <!-- <button mat-menu-item   [routerLink]="['/settings/role/role-show', role._id]">
                    <mat-icon>airplay</mat-icon>
                    <span>Show</span>
                  </button> -->
                  <button mat-menu-item   [routerLink]="['/settings/role/role-edit', role._id]">
                    <mat-icon>update</mat-icon>
                    <span>Update</span>
                  </button>
                  <button mat-menu-item (click)="deleteRole(role._id)">
                    <mat-icon>delete</mat-icon>
                    <span>Delete</span>
                  </button>
                </mat-menu>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
      </div>
      <button mat-flat-button color="primary" class="button-p1 float-right" routerLink="/settings/role/role-add">Add Role</button>
    </mat-card>
  </div>
</div>
