.label-stock{
  font-size: 20px;
}

.font-family {
  font-family: 'Roboto';
}

@media (min-width: 100px) {
  .close {
    position: absolute;
    right:15%;
  }
}

@media (min-width:800px) {
  .close {
    position: absolute;
    right:20%;
  }
}

@media (min-width:1024px) {
  .close {
    position: absolute;
    right:25%;
  }
}

@media (min-width:1125px) {
  .close {
    position: absolute;
    right:30%;
  }
}
