<label class="label-stock font-family">New Address</label>
<mat-icon class="close" (click)="onNoClick()">close_outlined</mat-icon>

<mat-dialog-content>
  <br>
  <div class="body-search">
    <form style="font-size: 14px; color: black">
      <mat-form-field class="w-100"><input matInput name="code" maxlength="10"  [(ngModel)]="code" placeholder="Simpan alamat sebagai"></mat-form-field>
      <mat-form-field class="w-100"><input matInput name="name" maxlength="50" [(ngModel)]="name" placeholder="Nama Penerima"></mat-form-field>
      <mat-form-field class="w-100"><input matInput name="phone" maxlength="30" [(ngModel)]="phone" placeholder="No Telpon"></mat-form-field>
      <mat-form-field class="w-100"><input matInput name="address" maxlength="50" [(ngModel)]="address" placeholder="Alamat"></mat-form-field>

      <mat-form-field color="accent" class="w-100">
        <mat-select name="city" placeholder="Kecamatan" [(ngModel)]="city">
          <mat-option *ngFor="let postCode of dataPostCode" [value]="postCode.Code">
            {{ postCode.City }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field color="accent" class="w-100">
        <mat-select name="county" placeholder="City" [(ngModel)]="county">
          <mat-option *ngFor="let county of dataCounty" [value]="county.Name">
            {{ county.Description }} 
          </mat-option>
        </mat-select>
      </mat-form-field>

    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="w-100">
  <button class="btn-block" mat-flat-button color="primary" (click)="saveDeliveryAddress()" mat-dialog-close cdkFocusInitial>Save Address</button>
</mat-dialog-actions>