.expired{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
button{
  width: 100%;
}
p { 
  font-family: Roboto;  
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
 }