<div mat-dialog-content>
  <p align="center">Your session is expired.<br> Please re-login</p>
</div>
<div mat-dialog-actions align="center">
  <button mat-flat-button color="primary" class="btn-block" [mat-dialog-close]="true" cdkFocusInitial (click)="login()">Ok</button>
</div>