<div class="app-navbar">
  <nav class="docs-navbar-header">
    <a mat-icon-button style="margin-left: 16px;" class="docs-button" [routerLink]="['/dashboard']">
      <mat-icon>
        arrow_back_ios
      </mat-icon>
    </a>
    <div class="flex-spacer"></div>
    <a mat-button class="docs-button navbar-detail docs-navbar-show-small" aria-label="Angular Material">
        New Order
    </a>
    <a mat-button class="docs-button navbar-detail1 docs-navbar-hide-small" aria-label="Angular Material" style="flex-grow: 3;">
        New Order
    </a>

    <div class="flex-spacer"></div>
    <div *ngIf="this.dataItem === null">
      <a  mat-icon-button disabled>
        <mat-icon svgIcon="delete_outline"></mat-icon>
      </a>
    </div>
    <div *ngIf="this.dataItem !== null" >
      <a  mat-icon-button (click)="openDialogDelete()">
        <mat-icon svgIcon="delete_outline"></mat-icon>
      </a>
    </div>
    <div *ngFor="let dataList of dataDraftList; let i = index;"></div>
    <a *ngIf="dataDraftList.length !== 0" mat-icon-button (click)="openDialogDraft()" style="margin-right: 3px;">
      <mat-icon matBadge="{{dataDraftList.length}}" svgIcon="bookmark_outline"></mat-icon>
    </a>
    <a *ngIf="dataDraftList.length === 0" mat-icon-button (click)="openDialogDraft()" style="margin-right: 3px;">
      <mat-icon svgIcon="bookmark_outline"></mat-icon>
    </a>

    <div *ngIf="this.dataItem === null">
      <a mat-icon-button disabled style="margin-right: 16px;">
        <mat-icon svgIcon="save-outline"></mat-icon>
      </a>
    </div>
    <div *ngIf="this.dataItem !== null">
      <a mat-icon-button  disabled style="margin-right: 16px;" *ngIf="this.dataItem.custNo === undefined">
        <mat-icon svgIcon="save-outline"></mat-icon>
      </a>
       <a mat-icon-button disabled style="margin-right: 16px;" *ngIf="this.dataItem.item === undefined">
        <mat-icon svgIcon="save-outline"></mat-icon>
      </a>
       <a mat-icon-button (click)="saveDraft()" style="margin-right: 16px;" *ngIf="this.dataItem.custNo !== undefined && this.dataItem.item !== undefined" >
        <mat-icon svgIcon="save-outline"></mat-icon>
      </a>
    </div>
  </nav>
</div>
<div class="order-page">
<div class="justify-content-sm-center">

<!-- MAT STEPPER [linear]="!isLinear" -->
<mat-horizontal-stepper  [linear]="!isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup" [completed]="false">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Product &#160;</ng-template>
              <!-- <p mat-line class="font-10 normal-font">Product</p> -->
              <!-- form product cart if empty -->
              <mat-list-item *ngIf="this.dataItem === null" style="margin-top: 1px;">
                <p mat-line  class="font-14 normal-font">Product</p>
              </mat-list-item>
              <!-- form product cart if any product -->
              <div style="margin-top: 1px;" *ngIf="this.dataItem !== null">
                <p *ngIf="this.dataItem.item === undefined || this.dataItem.item.length === 0" mat-line class="font-14">Product</p>
      
                <mat-list-item *ngFor="let order of dataItem.item; let i = index;">
                  <p mat-line class="font-14 normal-font"> 
                    <label class="wight-500">{{i+1}}. </label>
                    <label class="wight-500">{{data.toTitleCase(order.desc)}}</label>
                    <button mat-icon-button class="font-14-grey float-right" style="margin-top:   -15px">
                        <mat-icon  (click)="removeFromCart(order)">clear</mat-icon>
                    </button>
                  </p>
                  <p mat-line style="margin-left: 15px; margin-top: -10px" class="font-14"> {{data.toTitleCase(order.desc2)}}</p>
      
                  <table  style="width:93%; margin-left: 12px; margin-top: -10px">
                    <tr class="font-12 normal-font" >
                      <td>{{order.qty}} {{order.UOM}} @    {{order.price.toLocaleString(['id'])}}</td>
                      <td style="text-align: right;"> {{[order.price * order.qty].toLocaleString(['id'])}}</td>
                    </tr>
                  </table> 
          
                  <!-- <table style="width:90%; margin-left: 12px; margin-top: -10px" *ngIf="this.data.user.company === 'UNICODISTRIBUSI'">
                    <tr class="font-12 normal-font" *ngFor="let orderDetail of order.itemGroup">
                      <td style="width:30%">{{order.var}}</td>
                      <td>{{orderDetail.qty}} Pcs @  {{order.price.toLocaleString(['id'])}}</td>
                      <td style="text-align: right;">  {{[order.price * orderDetail.qty].toLocaleString(['id'])}}</td>
                    </tr>
                  </table>          -->
                <mat-divider style="margin-top: 6px;"></mat-divider>
              </mat-list-item>
              </div>
              <mat-divider></mat-divider>
              <button class="button-order btn-block" mat-flat-button [routerLink]="['/products/list']">
              <mat-icon svgIcon="add"></mat-icon>
                    <font style="font-size: 14px;">Add Product</font> 
              </button>
              <mat-divider></mat-divider>
              <div>
                <button  mat-flat-button class="btn-block" color="primary" style="margin-top: 10px;" matStepperNext>Next</button>
              </div>
        </form>
    </mat-step>
    <!-- Page 2 -->
    <mat-step [stepControl]="secondFormGroup" [completed]="false">
        <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Customer</ng-template>
            <!-- <p mat-line class="font-10 normal-font">Sales Person</p> -->
              <mat-list style="margin-top: -20px;">
              <!-- <mat-list-item *ngIf="this.dataItem === null" disabled>
                <p mat-line class="font-14 normal-font">Sales Person</p>
              </mat-list-item>
              <mat-list-item *ngIf="this.dataItem !== null" (click)="openDialogSales()" >
                <p mat-line class="font-14 normal-font" *ngIf="this.dataItem.salesPerson === undefined">Sales Person</p>
                <p mat-line class="font-10 normal-font" *ngIf="this.dataItem.salesPerson !== undefined">Sales Person</p>
                <p mat-line class="font-14 normal-font" *ngIf="this.dataItem.salesPerson !== undefined">{{this.dataItem.salesPerson.code}} - {{this.dataItem.salesPerson.name}}</p>
              </mat-list-item> -->
              <mat-divider></mat-divider>
              <div style="margin-top: -4px;">
              <mat-list-item (click)="openDialogCustomer()" *ngIf="this.dataItem === null" style="margin-top: 10px;">
                <p mat-line class="font-14 normal-font">Customer</p>
              </mat-list-item></div>
              <mat-list-item (click)="openDialogCustomer()" *ngIf="this.dataItem !== null" style="margin-top: 10px;">
                  <p mat-line class="font-10 normal-font"  *ngIf="this.dataItem.custNo !== undefined">Customer</p>
                  <p mat-line class="font-14 normal-font"  *ngIf="this.dataItem.custName == null">Customer</p>
                  <p mat-line class="font-14 font-medium" *ngIf="this.dataItem.custNo !== undefined">{{this.dataItem.custName}} {{this.dataItem.custName2}} | {{data.toTitleCase(this.dataItem.custCity)}}</p>
                  <p mat-line class="font-14 normal-font" *ngIf="this.dataItem.custNo !== undefined && this.dataItem.custEmail !== ''">{{this.dataItem.custPhoneNo}} | {{this.dataItem.custEmail}}</p>
                  <p mat-line class="font-14 normal-font" *ngIf="this.dataItem.custNo !== undefined && this.dataItem.custEmail === ''">{{this.dataItem.custPhoneNo}}</p>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item style="margin-top:-10px;" *ngIf="this.dataItem === null" disabled>
                  <!-- <p mat-line class="font-10 normal-font">Delivery Address</p> -->
                  <p mat-line class="font-14 normal-font">Delivery Address</p>
              </mat-list-item>      
              <mat-list-item (click)="openDialogDelivery(this.dataItem.custNo)" *ngIf="this.dataItem !== null">
                  <p mat-line *ngIf="this.dataItem.deliveryAddress === undefined" class="font-14 normal-font">Delivery Address</p>
                  <p mat-line *ngIf="this.dataItem.deliveryAddress !== undefined" class="font-10 normal-font">Delivery Address</p>
                  <p mat-line class="font-14 font-medium" *ngIf="this.dataItem.deliveryAddress !== undefined">{{this.dataItem.deliveryAddress.Name}} | {{this.dataItem.deliveryAddress.PhoneNo}}</p>
                  <!-- <p mat-line class="font-12" *ngIf="this.dataItem.deliveryAddress !== undefined">{{this.dataItem.deliveryAddress.Address}}-{{this.dataItem.deliveryAddress.Name2}}</p> -->
                  <p mat-line *ngIf="this.dataItem.deliveryAddress !== undefined">{{this.dataItem.deliveryAddress.Address}},</p>
                  <p mat-line *ngIf="this.dataItem.deliveryAddress !== undefined">{{this.dataItem.deliveryAddress.City}} - {{this.dataItem.deliveryAddress.county}}</p>                  
              </mat-list-item>

              <mat-divider></mat-divider>
      
              <mat-list-item class="mt-3">
                  <p mat-line class="font-10 normal-font">Notes</p>
                  <mat-form-field mat-line>
                    <textarea style="width:600px;" maxlength="80" matInput  [(ngModel)]="notes" [ngModelOptions]="{standalone: true}" (change)="inputNotes($event)"></textarea>
                  </mat-form-field>
              </mat-list-item>
              <mat-list-item (click)="openDialogDeliveryService()" *ngIf="this.dataItem !== null" style="margin-top:-10px;">
                  <p mat-line class="font-10 normal-font">Delivery Service</p>
                  <p mat-line class="font-14 normal-font" *ngIf="this.dataItem.deliveryService === undefined"><label class="float-right"></label></p>
                  <p mat-line class="font-14 normal-font" *ngIf="this.dataItem.deliveryService !== undefined">
                    <!-- Padang Zone 1 -->
                    <label class="float-right">{{this.dataItem.deliveryService.toLocaleString(['id'])}}</label>
                  </p>
              </mat-list-item>
      
              <mat-list-item (click)="openDialogDeliveryService()" *ngIf="this.dataItem === null" style="margin-top:-10px;">
                  <p mat-line class="font-10 normal-font">Delivery Service</p>
                  <p mat-line class="font-14 normal-font">
                    <!-- Padang Zone 1 -->
                    <label class="float-right"></label>
                  </p>
              </mat-list-item>
      
              <mat-divider></mat-divider>
      
                <mat-list-item (click)="openDialogCoupon()" *ngIf="this.dataItem === null" style="margin-top:-10px;">
                  <p mat-line class="font-10 normal-font">Voucher</p>
                  <p mat-line class="font-14 normal-font">         
                    <label class="float-right">  </label>      
                  </p>
                </mat-list-item>
      
              <mat-list-item (click)="openDialogCoupon()" *ngIf="this.dataItem !== null" style="margin-top:-10px;">
                  <p mat-line class="font-10 normal-font">Voucher</p>
                  <p mat-line class="font-14 normal-font">
                     <label class="float-left" *ngIf="this.dataItem.coupon !== 0">{{this.dataItem.couponName}}</label>
                     <label class="float-right" *ngIf="this.dataItem.coupon == null"></label>
                     <label class="float-right" *ngIf="this.dataItem.coupon === 0">  </label>
                     <label class="float-right" *ngIf="this.dataItem.coupon > 0">-{{this.dataItem.coupon.toLocaleString(['id'])}}</label>
                  </p>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item *ngIf="this.total !== 0" style="margin-top:-10px;">
                  <p mat-line class="font-14 normal-font">
                    <label class="float-right" > {{this.total.toLocaleString(['id'])}}
                    </label> 
                    <label class="float-right" style="margin-right: 50px;">
                      Total :</label> 
                  </p>
              </mat-list-item>  
              <mat-divider></mat-divider>
            </mat-list>
            <div>
              <table>
                <tr>
                  <td><button  mat-stroked-button class="btn-block" style="margin-top: 10px; color: #808080" matStepperPrevious>Back</button></td>
                  <td><button  mat-flat-button class="btn-block" color="primary" style="margin-top: 10px;" matStepperNext>Next</button></td>
                </tr>
              </table>
            </div>
        </form>
    </mat-step>
    <!-- Page 3 -->
    <mat-step [completed]="false">
        <ng-template matStepLabel>Payment</ng-template>
          
            <mat-list-item *ngIf="this.total !== 0">
              
              <table style="font-size: 24px;">
                <tr>
                  <td align="left">Total</td>
                  <td align="right"> {{this.total.toLocaleString(['id'])}}</td>
                </tr>
              </table>
            </mat-list-item>  
           <mat-divider></mat-divider>            
           <mat-spinner *ngIf="this.btnSubmitted" [diameter]="40"></mat-spinner>
           <!-- form team of payment if any data -->
           <mat-list-item *ngIf="this.total > 0" style="margin-top:10px;">
             <p mat-line class="font-10 normal-font">Payment Method</p>
             <p mat-line class="font-10 normal-font">
             
            <mat-grid-list *ngIf="!this.btnSubmitted" cols="3" rowHeight="3:1" style="margin-top: 20px;">
              <mat-grid-tile *ngFor="let payment of dataPayment">
                  <button *ngIf="payment.description !== this.dataItemPayment.description" (click)="viewPayment(payment)" style="text-align: center;width: 100%; font-size: 12px; border-color: #979797;margin: 2px; padding: 6px 0px" class="btn info" [value]="payment.code">{{ payment.description }}</button>
                  <button *ngIf="payment.description === this.dataItemPayment.description" (click)="viewPayment(payment)" style="text-align: center;width: 100%; font-size: 12px; border-color: #979797;margin: 2px; padding: 6px 0px" class="btn select" [value]="payment.code">{{ payment.description }}</button>
              </mat-grid-tile>
            </mat-grid-list>

            <mat-grid-list *ngIf="this.btnSubmitted" cols="3" rowHeight="3:1" style="margin-top: 20px;">
              <mat-grid-tile *ngFor="let payment of dataPayment">
                <button *ngIf="payment.description !== this.dataItemPayment.description" style="text-align: center;width: 100%; font-size: 12px; border-color: #979797;margin: 2px; padding: 6px 0px" class="btn" disabled>{{ payment.description }}</button>
                <button *ngIf="payment.description === this.dataItemPayment.description" style="text-align: center;width: 100%; font-size: 12px; border-color: #979797;margin: 2px; padding: 6px 0px" class="btn select">{{ payment.description }}</button>
              </mat-grid-tile>
            </mat-grid-list>
            </mat-list-item>

           <mat-divider></mat-divider>
           <!-- form team of payment if any data -->
           <mat-list-item style="margin-top:10px;" *ngIf="this.dataItemPayment.code !== undefined">
            <div *ngIf="this.total > 0">
             <p mat-line class="font-10 normal-font">Information </p>
             <p class="font-20 normal-font font-medium" >{{this.dataItemPayment.description}}</p>
             <p class="font-14 normal-font" style="color: black">- Periksa kembali data pembayaran Anda sebelum melanjutkan transaksi.</p>             
             <table style="font-size: 14px; margin-left: 15px;">
               <tr>
                 <td style="width: 30%">No. Rek</td>
                 <td>:</td>
                 <td>{{this.dataItemPayment.bankNo}}</td>
               </tr>
               <tr>
                 <td>Atas Nama</td>
                 <td>:</td>
                 <td>{{this.dataItemPayment.name2}}</td>
               </tr>
             </table> 
             <p></p>
            </div>
           </mat-list-item>
           <mat-divider></mat-divider>
        <div>
            <table>
              <tr>
                <td style="width: 50%"><button  mat-stroked-button class="btn-block" style="margin-top: 10px;color: #808080" matStepperPrevious>Back</button></td>
                <td>
                  <div *ngIf="this.dataItem == null">
                      <button mat-flat-button class="btn-block" color="primary" style="margin-top:10px;" disabled>Submit Order</button>
                  </div>
                  <div *ngIf="this.dataItem !== null">
                    <div *ngIf="this.btnSubmitted">
                      <button mat-flat-button class="btn-block" color="primary" style="margin-top:10px;" disabled>Submit Order</button>
                    </div>
                    <div *ngIf="!this.btnSubmitted">
                      <button *ngIf="this.total <= 0" mat-flat-button class="btn-block" color="primary" style="margin-top:10px;" disabled>Submit Order</button>
                      <button *ngIf="this.dataItem.custNo !== undefined && this.dataItem.item !== undefined && this.total > 0" mat-flat-button class="btn-block"color="primary" style="margin-top:10px;" (click)="openDialogSubmit(this.dataItem)">Submit Order</button>
                    </div>
                  </div>
                </td>
              </tr>
            </table>
            
        </div>
    </mat-step>
</mat-horizontal-stepper>
<!-- END -->
</div>
</div>
