.mat-card:not([class*=mat-elevation-z]) {
    box-shadow:none;
}

.docs-navbar-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-spacer {
  flex-grow: 1;
}

.flex-spacer1 {
  flex-grow: 3;
}

.docs-navbar-show-small {
  display: none;
}

.font-10{
  font-size: 10px !important;
  color: grey;
}
.wight-500{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.divider{
  margin:0;
}

.app-navbar{
  background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    box-shadow:0 0 1px 0 #ccc;
}

.order-page{
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
}

.button-order{
  background-color: white;
  color:#2492F4;
  margin-top: 2px;
}

@media (max-width: 720px) {

  .order-page{
    margin-top: -20px;
  }

  .image-size{
    height:382px;
    padding-left:16px;
    padding-right:16px;
  }

  .docs-navbar-hide-small {
    display: none;
  }

  .docs-navbar-show-small {
    display: block;
  }

  .navbar-detail{
    font-family: Roboto;
    font-style: normal;
    font-size: 20px;
    font-weight: 500;
    margin-left: 10%;
  }

}

.navbar-detail1{
  font-size: 18px;
  margin-left: 20%;
}

/* input type number */
* {
  box-sizing: border-box;
}

.input-number {
  width: 40px;
  vertical-align: top;
  text-align: center;
  outline: none;
}

.input-number,
.input-number-decrement,
.input-number-increment {
  border: 1px solid #ccc;
  height: 30px;
  user-select: none;
}

.input-number-decrement,
.input-number-increment {
  display: inline-block;
  width: 30px;
  line-height: 30px;
  background: #fff;
  color: #444;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}
.input-number-decrement:active,
.input-number-increment:active {
  background: #ddd;
}

.input-number-decrement {
  border-right: none;
  border-radius: 4px 0 0 4px;
}

.input-number-increment {
  border-left: none;
  border-radius: 0 4px 4px 0;
}
/* Blue */
.btn {
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  color: black;
  padding: 5px 10px;
  font-size: 10px;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
  width: 90%;
}
.info {
  border-color: #2196F3;
  color: #979797;
}
.select {
  border-color: #2196F3;
  color: white;
  background: #2196F3;
}

.info:hover {
  background: #2196F3;
  color: white;
}

/* Stepper */

::ng-deep .mat-step-header .mat-step-icon {
  background-color: #808080; 
}
/* ::ng-deep .mat-step-header {
  width: 100%;
} */
::ng-deep .mat-step-header .mat-step-icon-selected  {
  background-color: #2196F3; 
}
/* mat-grid-tile {
  background: rgb(206, 86, 86);
} */
.mat-spinner {
  float: right;
  margin-right: 43%;  
  margin-top: 5px;
}