<div class="mobile-page">
  <div class="container mt-5 mb-5">
    <div class="row justify-content-sm-center">
      <mat-card class="col-md-7">
        <h4>
          <table>
            <tr>
              <td style="width: 1px;"><mat-icon svgIcon="colorize"></mat-icon></td>
              <td>{{title}}</td>
            </tr>
          </table>
        </h4>

        <p class="p-p1"><i>* Update Company</i></p>
        <mat-form-field color="accent" class="w-100">
          <input type="text" matInput [(ngModel)]="dataCompany.code" name="code" placeholder="Code" disabled>
        </mat-form-field>

        <mat-form-field color="accent" class="w-100">
          <input type="text" matInput [(ngModel)]="dataCompany.description" name="description" placeholder="Description" required>
          <button mat-button *ngIf="dataCompany.description" matSuffix mat-icon-button aria-label="Clear" (click)="dataCompany.description=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field color="accent" class="w-100">
          <textarea matInput #message maxlength="120" [(ngModel)]="dataCompany.address" name="address" placeholder="Address"></textarea>
          <mat-hint align="end">{{message.value.length}} / 120</mat-hint>
          <button mat-button *ngIf="dataCompany.address" matSuffix mat-icon-button aria-label="Clear" (click)="dataCompany.address=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field color="accent" class="w-100">
          <textarea type="text" matInput #message maxlength="120" [(ngModel)]="dataCompany.address1" name="address1" placeholder="Address 2"></textarea>
          <mat-hint align="end">{{message.value.length}} / 120</mat-hint>
          <button mat-button *ngIf="dataCompany.address1" matSuffix mat-icon-button aria-label="Clear" (click)="dataCompany.address1=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field color="accent" class="w-100">
          <span matPrefix>+62 &nbsp;</span>
          <input type="text" matInput minlength="6" [(ngModel)]="dataCompany.phone" name="phone" placeholder="No.Telphone">
            <button mat-button *ngIf="dataCompany.phone" matSuffix mat-icon-button aria-label="Clear" (click)="dataCompany.phone=''">
              <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>

        <mat-form-field color="accent" class="w-100">
          <input type="text" matInput [(ngModel)]="dataCompany.vatregistration" name="vatregistration" placeholder="VAT Registrasi">
            <button mat-button *ngIf="dataCompany.vatregistration" matSuffix mat-icon-button aria-label="Clear" (click)="dataCompany.vatregistration=''">
              <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>

        <mat-form-field color="accent" class="w-100">
          <input matInput type="text" [(ngModel)]="dataCompany.vatname" name="vatname" placeholder="VAT Name">
            <button mat-button *ngIf="dataCompany.vatname" matSuffix mat-icon-button aria-label="Clear" (click)="dataCompany.vatname=''">
              <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>

        <mat-form-field color="accent" class="w-100">
          <textarea matInput type="text" #message maxlength="120"[(ngModel)]="dataCompany.vataddress" name="vataddress" placeholder="VAT Address"></textarea>
            <mat-hint align="end">{{message.value.length}} / 120</mat-hint>
            <button mat-button *ngIf="dataCompany.vataddress" matSuffix mat-icon-button aria-label="Clear" (click)="dataCompany.vataddress=''">
              <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>

        <mat-form-field color="accent" class="w-100">
          <textarea matInput type="text" #message maxlength="120"[(ngModel)]="dataCompany.vataddress1" name="vataddress1" placeholder="VAT Address 2"></textarea>
            <mat-hint align="end">{{message.value.length}} / 120</mat-hint>
            <button mat-button *ngIf="dataCompany.vataddress1" matSuffix mat-icon-button aria-label="Clear" (click)="dataCompany.vataddress1=''">
              <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>

        <mat-form-field color="accent" class="w-100">
          <input matInput type="text" [(ngModel)]="dataCompany.vatinvoiceauthorizedname" name="vatinvoiceauthorizedname" placeholder="VAT Auth Name">
            <button mat-button *ngIf="dataCompany.vatinvoiceauthorizedname" matSuffix mat-icon-button aria-label="Clear" (click)="dataCompany.vatinvoiceauthorizedname=''">
              <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>

        <mat-form-field color="accent" class="w-100">
          <input matInput type="text" [(ngModel)]="dataCompany.vatinvoiceauthorizedposition" name="vatinvoiceauthorizedposition" placeholder="VAT Auth Position">
            <button mat-button *ngIf="dataCompany.vatinvoiceauthorizedposition" matSuffix mat-icon-button aria-label="Clear" (click)="dataCompany.vatinvoiceauthorizedposition=''">
              <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <mat-checkbox [(ngModel)]="dataCompany.status" class="w-100" name="status">Status</mat-checkbox>
        <button mat-flat-button color="primary" class="button-p1 mt-3 mr-3 float-right" (click)="saveCompany()">{{title}}</button>
      </mat-card>
    </div>
  </div>
</div>
