<table>
  <tr>
    <td>
      You are offline.<br>
      Please check your connection
    </td>
    <td align="right">
      <button onClick="history.go(0)" mat-button color="primary">Reload</button>
    </td>
  </tr>
</table>