/* .card {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.example-spacer {
  flex: 10 10 auto;
}

.example-icon {
  padding: 0 14px;
}

.mat-card {
  margin-top: 5%;
  padding: 20px;
}

.btn {
  margin: 2%;
} */
p{
  line-height: 18px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
}
.name-user{
  font-family: Roboto;
  font-style: bold;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  }
.label-name {
  background-color:#f2f2f2;
  margin-top:10px;
}

.label-name-text {
  color:#757575;
  margin-top:3px;
  margin-left:5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
}


/* search */
.body-search {
  height: 40px;
}

.search-form {
  position: relative;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 33px;
  background: #f9f9f9;
  border-radius: 5px;
  border: 1px solid #f2f2f2;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}
.search-form.focus {
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
}

.search-input {
  position: absolute;
  top: 5px;
  left: 40px;
  font-size: 14px;
  background: #F9F9F9;
  color: #5a6674;
  width: 88%;
  height: 20px;
  border: 0.1px;
  border-radius: 5px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
}
.search-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
          appearance: none;
}

.search-button {
  position: absolute;
  top: 4px;
  left: 10px;
  height: 20px;
  width: 20px;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none !important;
  cursor: pointer;
}

.search-option {
  position: absolute;
  text-align: right;
  top: 4px;
  right: 10px;
}
.search-option div {
  position: relative;
  display: inline-block;
  margin: 0 1px;
  cursor: pointer;
}
.search-option div input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.01;
  cursor: pointer;
}

.font-16-normal{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #000000;
}