<div class="product-page">
  <mat-card class="container col-md-8">
    <div class="justify-content-sm-center mb-4">
      <!-- Nama User -->
      <mat-list style="margin-top:-40px;" >
        <mat-list-item>
          <div mat-list-icon class="label-name">
            <p class="label-name-text"> {{this.data.keyUser}} <p>
          </div>
          <h4 mat-line style="font-weight: 500;"> {{this.data.nameUser}} </h4>
          <p *ngIf="data.user.dept_code === 'PDG'"mat-line style="color:#757575; font-size: 14px;">{{this.data.companyName}} Padang</p>
          <p *ngIf="data.user.dept_code === 'PKU'"mat-line style="color:#757575; font-size: 14px;">{{this.data.companyName}} Pekanbaru</p>
          <p *ngIf="data.user.dept_code === 'PLM'"mat-line style="color:#757575; font-size: 14px;">{{this.data.companyName}} Palembang</p>
          <p *ngIf="data.user.dept_code === 'JKT'"mat-line style="color:#757575; font-size: 14px;">{{this.data.companyName}} Jakarta </p>
        </mat-list-item>
      </mat-list>
      <mat-divider></mat-divider>
      <!-- Pencaraian -->
      <p class="font-16-normal"> Product </p>
      <div class="body-search">
          <form  class="search-form">
            <input class="search-input" #input autocomplete="off" name="filter_description" (keyup.enter)="toProductList($event)" [(ngModel)]="search" placeholder="Search">
            <button type="submit" class="search-button">
              <mat-icon svgIcon="search" class="submit-button" style="color:rgba(0, 0, 0, .20);"></mat-icon>
            </button>
            <div class="search-option">
              <div>
                <label>  
                  <mat-icon *ngIf="search != '' && search != undefined" class="edit-pen-title" style="color: rgba(0, 0, 0, .20);" (click)="search = ''">close</mat-icon>
                </label>
              </div>
            </div>
          </form>
        </div>
    </div>
  </mat-card>
</div>