.submitted{
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: Roboto;
  }

@media (max-width: 720px) {

.submitted{
    margin-top: -60px;
}
}
.title{
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #000000;
}
.title2{
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    color: #000000;
    margin-top: -10px;
}
.font-10{
    font-size: 10px;
}
.font-12{
    font-size: 12px;
}

.font-medium{
    font-weight: 500;
}