<div class="submitted">
  <mat-card class="container col-md-8">
    <div class="justify-content-sm-center mb-4">
      <p class="title">Submitted</p>
      <p class="title2"> Order No : {{this.dataItem.soNumber}}</p>
      <!-- Product -->
      <p mat-line class="font-10">Product</p>
      <mat-list-item *ngFor="let order of dataItem.item; let i = index;">
        <p style="margin-top: -10px;" mat-line class="font-14">
        <label class="font-medium">{{i+1}}. </label>
        <label class="font-medium"> {{order.desc}}</label>
        </p>
        <p mat-line style="margin-left: 15px; margin-top: -10px" class="font-14"><b> {{order.desc2}}</b></p>
        <table style="width:95%; margin-left: 12px; margin-top: -10px">
          <tr class="font-12">
            <td>{{order.qty}} {{order.UOM}} @ Rp {{order.price.toLocaleString(['id'])}}</td>
            <td style="text-align: right;">Rp {{[order.price * order.qty].toLocaleString(['id'])}}</td>
          </tr>
        </table>        
        <mat-list style="margin-top: -50px;"><mat-list-item><mat-divider></mat-divider></mat-list-item></mat-list>           
      </mat-list-item>
      <!-- Sales Person -->
      <mat-list-item>
        <p mat-line class="font-10">Sales Person</p>
        <p style="margin-top: -3px;" mat-line class="font-14" *ngIf="this.dataItem.salesPerson !== undefined">{{this.dataItem.salesPerson.code}} - {{this.dataItem.salesPerson.name}}</p>
        <mat-list style="margin-top: -60px;"><mat-list-item><mat-divider></mat-divider></mat-list-item></mat-list>
      </mat-list-item>
      <!-- Customer -->
      <mat-list-item>
        <p mat-line class="font-10">Customer</p>
        <p style="margin-top: -5px;" mat-line class="font-14 font-medium" *ngIf="this.dataItem.custNo !== undefined">{{this.dataItem.custName}} {{this.dataItem.custName2}} | {{this.dataItem.custCity}}</p>
        <p style="margin-top: -10px;" mat-line class="font-14" *ngIf="this.dataItem.custNo !== undefined && this.dataItem.custEmail !== ''">{{this.dataItem.custPhoneNo}} | {{this.dataItem.custEmail}}</p>
        <p style="margin-top: -10px;" mat-line class="font-14" *ngIf="this.dataItem.custNo !== undefined && this.dataItem.custEmail === ''">{{this.dataItem.custPhoneNo}}</p>
        <mat-list style="margin-top: -60px;"><mat-list-item><mat-divider></mat-divider></mat-list-item></mat-list>
      </mat-list-item>
      <!-- Delivery Addres -->
      <mat-list-item>
        <p mat-line class="font-10 normal-font">Delivery Address</p>
        <p mat-line class="font-14 font-medium" *ngIf="this.dataItem.deliveryAddress !== undefined" style="margin-top: -5px;">{{this.dataItem.deliveryAddress.Name}} | {{this.dataItem.deliveryAddress.PhoneNo}}</p>
        <p mat-line class="font-14" *ngIf="this.dataItem.deliveryAddress !== undefined" style="margin-top: -17px;">{{this.dataItem.deliveryAddress.Address}},</p>
        <p mat-line class="font-14" *ngIf="this.dataItem.deliveryAddress !== undefined" style="margin-top: -17px;">{{this.dataItem.deliveryAddress.City}} - {{this.dataItem.deliveryAddress.county}}</p>    
        <mat-list style="margin-top: -60px;"><mat-list-item><mat-divider></mat-divider></mat-list-item></mat-list>              
      </mat-list-item>
      <!-- Payment Method -->
      <mat-list-item *ngIf="this.dataItem.paymentMethod">
        <p mat-line class="font-10">Payment Method</p>
        <p style="margin-top: -5px;" mat-line class="font-14">{{this.dataItem.paymentMethod.description}}</p>
        <mat-list style="margin-top: -60px;"><mat-list-item><mat-divider></mat-divider></mat-list-item></mat-list>
      </mat-list-item>
      <!-- Notes -->
      <mat-list-item>
        <p mat-line class="font-10">Notes</p>
        <p style="margin-top: -5px;" mat-line class="font-14">{{this.dataItem.notes}}</p>
        <mat-list style="margin-top: -60px;"><mat-list-item><mat-divider></mat-divider></mat-list-item></mat-list>
      </mat-list-item>
      <!-- Delivery Service -->
      <mat-list-item *ngIf="this.dataItem == undefined ">
        <p mat-line class="font-10">Delivery Service</p>
        <p style="margin-top: -5px;text-align: right;" mat-line class="font-14">
          <label>0</label>          
        </p>
        <mat-list style="margin-top: -60px;"><mat-list-item><mat-divider></mat-divider></mat-list-item></mat-list>
      </mat-list-item>
      <mat-list-item *ngIf="this.dataItem !== undefined">
        <p mat-line class="font-10">Delivery Service</p>
        <p *ngIf="this.dataItem.deliveryService === undefined" style="margin-top: -5px;text-align: right;" mat-line class="font-14">
          <label>0</label>          
        </p>
        <p *ngIf="this.dataItem.deliveryService !== undefined" style="margin-top: -5px;text-align: right;" mat-line class="font-14">
          <label>{{this.dataItem.deliveryService.toLocaleString(['id'])}}</label>          
        </p>
        <mat-list style="margin-top: -60px;"><mat-list-item><mat-divider></mat-divider></mat-list-item></mat-list>
      </mat-list-item>
      <!-- Promo -->
      <mat-list-item *ngIf="this.dataItem === null" style="margin-top:-10px;">
        <p mat-line class="font-10 normal-font">Promo</p>
        <p mat-line style="text-align: right;" class="font-14"> 0 </p>
      </mat-list-item>
      <mat-list-item *ngIf="this.dataItem !== null" style="margin-top:-10px;">
        <p mat-line class="font-10 normal-font">Promo</p>
        <table style="font-size: 14px; width: 102%;margin-left: -4px"><tr>
          <td style="text-align: left;">{{this.dataItem.couponName}}</td>
          <td style="text-align: right;" *ngIf="this.dataItem.coupon == null">0</td>
          <td style="text-align: right;" *ngIf="this.dataItem.coupon === 0">0</td>
          <td style="text-align: right;" *ngIf="this.dataItem.coupon > 0">-{{this.dataItem.coupon.toLocaleString(['id'])}}</td>
          </tr></table>
        <mat-list style="margin-top: -50px;"><mat-list-item><mat-divider></mat-divider></mat-list-item></mat-list>
      </mat-list-item>
      <!-- Total -->
      <mat-list-item>
        <p style="margin-top: -5px;text-align: right;" mat-line class="font-14 normal-font">Total Rp. <span style="margin-right: 60px"></span>{{this.total.toLocaleString(['id'])}}</p>
        <mat-list style="margin-top: -60px;"><mat-list-item><mat-divider></mat-divider></mat-list-item></mat-list>
      </mat-list-item>
      <mat-list-item>
          <button  [routerLink]="['/list-so/list']" mat-stroked-button class="btn-block" style="margin-top: 10px; color: #757575;">Back</button>
      </mat-list-item>
    </div>
  </mat-card>
</div>