<div class="mobile-page">
  <div class="container-fluid">
    <mat-card class="p-3 pb-5 pt-3 mt-4">
      <h4>
        <mat-icon>assignment</mat-icon>
        List Department
      </h4>
      <div class="table-responsive pt-2 pb-4 mb-3">
        <table mat-table [dataSource]="dep" class="mat-elevation">
          <ng-container matColumnDef="Code">
            <th mat-header-cell *matHeaderCellDef> Code</th>
            <td mat-cell *matCellDef="let deps" class="pr-3"> {{deps.code}} </td>
          </ng-container>

          <ng-container matColumnDef="Description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let deps" class="pr-5"> {{deps.description}} </td>
          </ng-container>

          <ng-container matColumnDef="Action" class="p-3">
            <th mat-header-cell *matHeaderCellDef> Action</th>
            <td mat-cell *matCellDef="let deps" class="pr-3">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item  [routerLink]="['/settings/department/edit-department', deps._id]">
                  <mat-icon>update</mat-icon>
                  <span>Update</span>
                </button>
                <button mat-menu-item (click)="deletedep(deps._id)">
                  <mat-icon>delete</mat-icon>
                  <span>Delete</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <button mat-flat-button color="primary" class="button-p1 float-right" routerLink="/settings/department/add-department">Add Department</button>
    </mat-card>
  </div>
</div>
