<div class="mobile-page">
  <div class="container mt-5">
    <div class="row justify-content-sm-center">
      <mat-card class="col-md-7">
        <h4>
          <mat-icon>person_add</mat-icon>
          {{title}}
        </h4>

        <p class="p-p1"><i>* Create New Department</i></p>
        <mat-form-field color="accent" class="w-100">
          <input type="text" matInput [(ngModel)]="code" name="code" placeholder="Code" required>
          <button mat-button *ngIf="code" matSuffix mat-icon-button aria-label="Clear" (click)="code=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field color="accent" class="w-100">
          <input type="text" matInput [(ngModel)]="description" name="description" placeholder="Description" required>
          <button mat-button *ngIf="description" matSuffix mat-icon-button aria-label="Clear" (click)="description=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <mat-checkbox [(ngModel)]="status" class="w-100" name="status">Status</mat-checkbox>
        <button mat-flat-button color="primary" class="button-p1 mt-3 mr-3 float-right" (click)="adddep()">{{title}}</button>
      </mat-card>
    </div>
  </div>
</div>
