<table>
  <tr>
    <td><label style="margin-left: -3px;" class="label-stock font-family font-medium">Delivery Service</label></td>
    <td align="right"><button mat-icon-button style="margin-right: -15px;"><mat-icon svgIcon="close" (click)="onNoClick()"></mat-icon></button></td>
  </tr>
</table>
<mat-dialog-content style="margin-top: -15px;">
  <br>
  <div class="body-search">
    <form class="font-14 normal-font">
      <label>Input Delivery Service</label>
      <input name="deliveryCharge" autocomplete="off" [(ngModel)]="deliveryCharge" type="number">
    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <table>
    <tr>
      <td style="width: 50%"><button  mat-stroked-button class="btn-block" style="color: #757575;" (click)="onNoClick()">Cancel</button></td>
      <td>
        <button *ngIf="deliveryCharge <= 0 || deliveryCharge == undefined" class="btn-block" mat-flat-button color="primary" disabled mat-dialog-close>Ok</button>
        <button type="submit" *ngIf="deliveryCharge >= 0" class="btn-block" mat-flat-button color="primary" (click)="saveDeliveryService()" mat-dialog-close>Ok</button>
      </td>
    </tr>
  </table>
</mat-dialog-actions>