<div class="app-navbar">
  <nav class="docs-navbar-header">
    <a mat-icon-button class="docs-button" [routerLink]="['/list-so/list']">
      <mat-icon style="margin-right: -3px;">
        arrow_back_ios
      </mat-icon>
    </a>
    <div class="flex-spacer"></div>
    <a mat-button class="docs-button navbar-detail docs-navbar-show-small" aria-label="Angular Material">
        Order Detail
    </a>      
  </nav>
</div>
<div class="order-detail-page">
  <div class="justify-content-sm-center">
    <mat-list>
      <div *ngIf="!dataItems" class="spinner">
        <br><br>
        <mat-spinner [diameter]="30"></mat-spinner>
      </div>
      <div *ngIf="dataItems">
      <table width="100%">
        <tr>
          <td class="font-10" width="38%">Date</td>
          <td class="font-10">No</td>
          <td></td>
        </tr>
        <tr>
          <td class="font-14-500">{{this.dataItemHeader.Date | date:'dd-MM-yyyy'}}</td>
          <td class="font-14-500">{{this.dataItemHeader.DocNo}}</td>
          <td class="font-14-500" align="right" *ngIf="this.dataItemHeader.Status === 'Submitted'">{{this.dataItemHeader.Status}}</td>
          <td class="font-14-500" align="right" *ngIf="this.dataItemHeader.Status === 'Open'">{{this.dataItemHeader.Status}}</td>
          <td class="font-14-500 green" align="right" *ngIf="this.dataItemHeader.Status === 'Released'">{{this.dataItemHeader.Status}}</td>
          <td class="font-14-500 grey" align="right" *ngIf="this.dataItemHeader.Status === 'Closed'">{{this.dataItemHeader.Status}}</td>
          <td class="font-14-500 orange" align="right" *ngIf="this.dataItemHeader.Status === 'Pend. Approval'">{{this.dataItemHeader.Status}}</td>
          <td class="font-14-500 orange" align="right" *ngIf="this.dataItemHeader.Status === 'Approve (1)'">{{this.dataItemHeader.Status}}</td>
          <td class="font-14-500 blue" align="right" *ngIf="this.dataItemHeader.Status === 'Approve (2)'">{{this.dataItemHeader.Status}}</td>
          <td class="font-14-500 brown" align="right" *ngIf="this.dataItemHeader.Status === 'Rejected'">{{this.dataItemHeader.Status}}</td>
          <td class="font-14-500 orange" align="right" *ngIf="this.dataItemHeader.Status === 'Pend. Validation'">{{this.dataItemHeader.Status}}</td>
        </tr>
      </table>
      <mat-divider></mat-divider>
      <!-- Customer -->
      <table width="100%">
        <tr>
          <td class="font-10">Customer</td>
        </tr>
        <tr>
          <td class="font-14-500" *ngIf="this.dataItemHeader.custCity !== ''">
            {{this.dataItemHeader.custName}} | {{this.dataItemHeader.custCity}} <br> {{this.dataItemHeader.custPhoneNo}}
          </td>
          <td class="font-14 font-medium" *ngIf="this.dataItemHeader.custCity === ''">
            {{this.dataItemHeader.custName}}<br> {{this.dataItemHeader.custPhoneNo}}
          </td>
        </tr>
      </table>
      <mat-divider></mat-divider>
      <!-- Delivery Address -->
      <table width="100%" *ngIf="this.dataItemHeader.shipAddress !== null">
        <tr>
          <td class="font-10">Delivery Address</td>
        </tr>
        <tr>
          <td class="font-14 font-medium">
            {{this.dataItemHeader.shipName}} | {{this.dataItemHeader.shipPhoneNo}} <br> {{this.dataItemHeader.shipAddress}}
          </td>
        </tr>
        <mat-divider></mat-divider>
      </table>
      <!-- Notes -->
      <table width="100%" *ngIf="this.dataItemComment !== undefined">
        <tr>
          <td class="font-10">Notes</td>
        </tr>
        <tr>
          <td class="font-14">
            {{this.dataItemComment.Comment}}
          </td>
        </tr>
        <mat-divider></mat-divider>
      </table>
      <!-- Product -->
      <div style="margin-left : 5px;" class="font-10">Product</div>
      <table *ngFor="let items of dataItems; let i = index;">
        <tr>
          <td style="width: 10px;" class="font-14-500">{{i+1}}.</td>
          <td class="font-14-500" style="width: 200px;">{{items.itemDesc | slice:0:25}}</td> 
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td class="font-14-normal">{{items.itemDesc2}}</td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td style="font-size: 12px">{{items.itemQty}} {{items.itemUom}} @ {{items.itemPrice.toLocaleString(['id'])}}</td>
          <td align="right"style="font-size: 12px">Rp. {{[items.itemPrice * items.itemQty].toLocaleString(['id'])}}</td>
        </tr>
      </table>
      <mat-divider></mat-divider>
      <!-- Delivery Service -->
      <table width="100%">
        <tr>
          <td class="font-10">Delivery Service</td>
        </tr>
        <tr>
          <td class="font-14" align="right" *ngIf="this.dataItemDeliveryService !== undefined">
           {{totalDelivery.toLocaleString(['id'])}}
          </td>
          <td class="font-14" align="right" *ngIf="this.dataItemDeliveryService === undefined">
            0
          </td>
        </tr>
        <mat-divider></mat-divider>
      </table>
      <table width="100%" *ngIf="this.dataItemBankCharge !== undefined">
        <tr>
          <td colspan="2" class="font-10">Bank Charge</td>
        </tr>
        <tr>
          <td class="font-14"></td>
          <td class="font-14" align="right">
            {{this.totalBankCharge}}
          </td>
        </tr>
      </table>
      <mat-divider *ngIf="this.dataItemBankCharge !== undefined"></mat-divider>
      <!-- Coupon -->
      <table width="100%" *ngIf="this.dataItemPromo !== undefined">
        <tr>
          <td colspan="2" class="font-10">Promo</td>
        </tr>
        <tr>
          <td class="font-14">{{this.dataItemPromo.itemDesc}}</td>
          <td class="font-14" align="right">
            <!-- {{this.dataItemPromo.itemPrice.toLocaleString(['id'])}} -->
            {{totalPromo.toLocaleString(['id'])}}
          </td>
        </tr>
      </table>
      <table width="100%" *ngIf="this.dataItemPromo === undefined">
        <tr>
          <td colspan="2" class="font-10">Promo</td>
        </tr>
        <tr>
          <td class="font-14"></td>
          <td class="font-14" align="right">
           0
          </td>
        </tr>
      </table>
      <mat-divider></mat-divider>
      <table width="100%" *ngIf="this.data.companyName === 'Sentraltukang'">
        <tr>
          <td colspan="2" class="font-10">Rounding</td>
        </tr>
        <tr>
          <td class="font-14" align="right">
            <!-- {{this.dataItemPromo.itemPrice.toLocaleString(['id'])}} -->
            {{this.Rounding}}
          </td>
        </tr>
      </table>
      <mat-divider *ngIf="this.data.companyName === 'Sentraltukang'"></mat-divider>
      <!-- Total -->
      <table width="100%" style="margin-top: 5px; margin-bottom: 5px;">
        <tr>
          <td class="font-14" align="right">
            Total Rp. <span style="margin-right: 60px"></span>{{[totalItem + totalDelivery + totalPromo + Rounding + totalBankCharge].toLocaleString(['id'])}}
          </td>
        </tr>
        <mat-divider></mat-divider>
      </table>
      <!-- Payment -->
      <table width="100%" *ngIf="this.dataItemHeader.paymentMethod === null">
        <tr>
          <td class="font-10">Payment Method</td>
        </tr>
        <tr>
          <td class="font-14">
            -
          </td>
        </tr>
        <mat-divider></mat-divider>
      </table>
      <table width="100%" *ngIf="this.dataItemHeader.paymentMethod !== null">
        <tr>
          <td class="font-10">Payment Method</td>
        </tr>
        <tr>
          <td class="font-14">
            {{this.dataItemHeader.paymentMethod}}
          </td>
        </tr>
        <mat-divider></mat-divider>
      </table>
      </div>
    </mat-list>
  </div>
</div>