.label-stock{
  font-size: 20px;
}

.font-family {
  font-family: 'Roboto';
}

@media (min-width: 100px) {
  .close {
    position: absolute;
    right:15%;
  }
}

@media (min-width:800px) {
  .close {
    position: absolute;
    right:20%;
  }
}

@media (min-width:1024px) {
  .close {
    position: absolute;
    right:25%;
  }
}

@media (min-width:1125px) {
  .close {
    position: absolute;
    right:30%;
  }
}
label{
	font-family: 'Roboto Condensed', sans-serif;
}
input[type=text] {
  width: 100%;
  padding: 3px 3px;
  margin: 5px 0;
  display: inline-block;
  border: 0.2px solid #797878;
  border-radius: 4px;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.6);
  font-size: 36px;
  background-color: #f7f5f5;
  font-family: 'Roboto Condensed', sans-serif;
}