<table>
    <tr>
        <td><label style="margin-left: -3px;" class="label-stock font-family font-medium">Coupon</label></td>
        <td align="right"><button mat-icon-button style="margin-right: -15px;"><mat-icon svgIcon="close" (click)="onNoClick()"></mat-icon></button></td>
    </tr>
</table>
<mat-dialog-content style="margin-top: -15px;">
    <br>
    <div class="body-search">
    <form>
        <label style="font-size: 14px;">Input Promo</label>
        <input matInput name="coupon"  maxlength="10" [(ngModel)]="coupon" type="text">
    </form>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <table>
        <tr>
        <td style="width: 50%;"><button  mat-stroked-button class="btn-block" style="color: #757575;" (click)="onNoClick()">Cancel</button></td>
        <td><button mat-flat-button color="primary" (click)="saveCoupon()" class="btn-block" cdkFocusInitial>Ok</button></td>
        </tr>
    </table>
</mat-dialog-actions>