<div class="app-navbar">
  <table>
    <tr>
      <td align="left">
          <a mat-icon-button style="margin-left: 16px;" class="docs-button" [routerLink]="['/dashboard']">
            <mat-icon>arrow_back_ios                  
            </mat-icon>
          </a>
      </td>
      <td align="center">
        <a mat-button class="titleheader" [routerLink]="['/dashboard']" aria-label="Angular Material">
        Product
        </a>
      </td>
      <td align="right"> 
        <a mat-icon-button  style="margin-right: 16px;" class="docs-button" [routerLink]="['/sales-order']">
          <mat-icon svgIcon="assignment" *ngIf="this.sales_order.chartQty == 0" matBadgeColor="primary"></mat-icon>
          <mat-icon svgIcon="assignment" *ngIf="this.sales_order.chartQty !== 0" matBadge="{{this.sales_order.chartQty}}" matBadgeColor="primary" matBadgePosition="before"></mat-icon>
        </a>
      </td>
    </tr>
  </table>
</div>
<div class="product-page">
<p style="margin-top: -35px;"></p>
<!-- Empty Data in Data Item -->
<mat-card class="expation" *ngIf="this.dataItem === null">
  <mat-expansion-panel disabled>
      <mat-expansion-panel-header  [collapsedHeight]="customCollapsedHeightDsbl">
        <mat-panel-title>
            <table>
                <tr>
                  <td>
                      <p (click)="openDialogCustomer()"mat-line class="font-14-normal"><font style="color: #0066ff">Customer</font></p>
                  </td>
                </tr>
              </table>  
        </mat-panel-title>
        <mat-panel-description>
            <table>
              <tr>
                <td align="right"><p class="font-12"></p></td>
              </tr>
            </table>
        </mat-panel-description>
      </mat-expansion-panel-header>
  </mat-expansion-panel>
</mat-card>
<!-- Any Data in Data Item -->
<mat-card class="expation" *ngIf="this.dataItem !== null">
  <mat-expansion-panel disabled *ngIf="this.dataItem.custNo === undefined">
      <mat-expansion-panel-header  [collapsedHeight]="customCollapsedHeightDsbl">
        <mat-panel-title>
            <table>
                <tr>
                  <td>
                      <p (click)="openDialogCustomer()"mat-line class="font-14-normal"><font style="color: #0066ff">Customer</font></p>
                  </td>
                </tr>
              </table>  
        </mat-panel-title>
        <mat-panel-description>
            <table>
              <tr>
                <td align="right"><p class="font-12"></p></td>
              </tr>
            </table>
        </mat-panel-description>
      </mat-expansion-panel-header>
  </mat-expansion-panel>

  <div *ngIf="this.data.user.company !== 'UNICODISTRIBUSI' && this.data.user.company !== 'KLASSEN'">
    <mat-expansion-panel *ngIf="this.dataItem.custNo !== undefined">
        <mat-expansion-panel-header [collapsedHeight]="customCollapsedHeight" [expandedHeight]="customExpandedHeight">
          <mat-panel-title>
            <table>
              <tr>  
                <td>
                    <p (click)="openDialogCustomer()" mat-line class="font-14-normal"><font style="color: #2492F4">Customer</font></p>
                </td>
              </tr>
            </table>            
          </mat-panel-title>
          <mat-panel-description>
              <table>
                  <tr>
                    <td align="right"><p mat-line style="color: black" class="font-12">{{this.dataItem.custName}} {{this.dataItem.custName2}}</p></td>
                  </tr>
              </table>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <hr>
        <p *ngIf="this.dataItem.discGroup === 'CASH'" class="font-12" style="margin-left: 3px;">Customer Price List : {{this.data.user.dept_code}} Cash</p>
        <p *ngIf="this.dataItem.discGroup === 'PKU_M_CASH'" class="font-12" style="margin-left: 3px;">Customer Price List : PKU Member Cash</p> 
        <p *ngIf="this.dataItem.discGroup === 'PKU_M_KRDT'" class="font-12" style="margin-left: 3px;">Customer Price List : PKU Member Kredit</p> 
        <p *ngIf="this.dataItem.discGroup === 'PDG_KRDT'" class="font-12" style="margin-left: 3px;">Customer Price List : PDG Kredit</p> 
        <p *ngIf="this.dataItem.discGroup === 'PDG_KRDT_M'" class="font-12" style="margin-left: 3px;">Customer Price List : PDG Member Kredit</p> 
    </mat-expansion-panel>
  </div>
  <div *ngIf="this.data.user.company === 'UNICODISTRIBUSI' || this.data.user.company === 'KLASSEN'">
    <mat-expansion-panel disabled *ngIf="this.dataItem.custNo !== undefined">
        <mat-expansion-panel-header [collapsedHeight]="customCollapsedHeight" [expandedHeight]="customExpandedHeight">
          <mat-panel-title>
            <table>
              <tr>  
                <td>
                    <p (click)="openDialogCustomer()" mat-line class="font-14-normal"><font style="color: #2492F4">Customer</font></p>
                </td>
              </tr>
            </table>            
          </mat-panel-title>
          <mat-panel-description>
              <table>
                  <tr>
                    <td align="right"><p mat-line style="color: black" class="font-12">{{this.dataItem.custName}} {{this.dataItem.custName2}}</p></td>
                  </tr>
              </table>
          </mat-panel-description>
        </mat-expansion-panel-header>
    </mat-expansion-panel>
  </div>
  
</mat-card>
  <mat-card class="container col-md-8" style="margin-top: -20px;">
  <div class="justify-content-sm-center mb-4">
    <!-- Search -->
    <div class="body-search" style="margin-top:-10px;">
      <form  class="search-form">
        <input class="search-input" #input1 autocomplete="off" name="filter_description" #input1 (keyup.enter)="processSearchItem($event)" [(ngModel)]="filter_description" placeholder="Search">
        <button type="submit" class="search-button">
          <mat-icon svgIcon="search" class="submit-button" style="color:rgba(0, 0, 0, .20);"></mat-icon>
        </button>
        <div class="search-option">
          <div>
            <label>
              <mat-icon *ngIf="this.filter_description == '' && this.filter_description == undefined"></mat-icon>
              <mat-icon svgIcon="close" *ngIf="this.filter_description !== '' && this.filter_description !== undefined" class="edit-pen-title" style="color: rgba(0, 0, 0, .20);" (click)="ClearSearch()"></mat-icon>
            </label>
          </div>
        </div>
      </form>
    </div>
    <div *ngIf="this.Scrool == 0">
      <br>
      <p align="center">
        <mat-icon style="width: 50px; transform: scale(2); color: rgb(100, 98, 98)" svgIcon="search"></mat-icon><br><br>
      Sorry, item "{{this.filter}}" cannot be found
      </p>
    </div>
    <div *ngIf="this.Scrool > 0">
    <!-- Virtual scroll -->
    <div *ngIf="!item">
      <cdk-virtual-scroll-viewport itemSize="120" class="example-viewport" autosize>
        <!-- <mat-list *cdkVirtualFor="let items of ds" lazy-load-images class="example-item"> -->
        <mat-list *cdkVirtualFor="let items of ds" class="example-item">            
          <!-- <div *ngIf="!items">Tidak ada data</div> -->
          <table style="font-size: 14px;width: 100%; margin-top: 16px;">
          <tr>
            <td valign="top" style="width:75px; height:75px;">
              <img style="width:75px; height:75px; border: 1px solid #ddd; border-radius: 8px; margin-bottom:-3px;" matListAvatar src="/assets/image/{{data.user.company}}/list/{{items?.No}}[0].png"  onerror="this.src='/assets/image/no-image.png'" [routerLink]="['/products/detail/', items?.No]">
            </td>
            <td valign="top" *ngIf="items?.Description" [routerLink]="['/products/detail/', items?.No]">                
                <p style="margin-top: -16px;position: relative;" *ngIf="items?.Description2 === null">
                  <label class="font-semi-bold">{{items?.Description}}</label>
                  <label style="color: #008a00;margin-top:-25px;" *ngIf="(items?.Inv+items?.InvToday-items?.soQty-items?.ToOut-items?.ToOutToday-items?.NotPosted-items?.NotPostedToday-items?.ShipTodayToOutNotToday) > 0">
                Available : {{items?.Inv+items?.InvToday-
                  items?.soQty-
                  items?.ToOut-
                  items?.ToOutToday-
                  items?.NotPosted-
                  items?.NotPostedToday-
                  items?.ShipTodayToOutNotToday}}
                  </label>
                  <label style="margin-top:-25px; color: #999;" *ngIf="(items?.Inv+items?.InvToday-items?.soQty-items?.ToOut-items?.ToOutToday-items?.NotPosted-items?.NotPostedToday-items?.ShipTodayToOutNotToday)<= 0">
                Available : 0
                  </label>
                </p>
                <!-- If Any Desc2 -->
                <p  style="margin-top: 0px;" *ngIf="items?.Description2 !== null">
                  <label class="font-semi-bold">{{items?.Description | slice:0:30}}</label><br>
                  <label class="font-semi-bold" *ngIf="items?.Description2 !== ''">{{items?.Description2}}<br></label>
                  <label style="color: #008a00;margin-top:5px;" *ngIf="(items?.Inv+items?.InvToday-items?.soQty-items?.ToOut-items?.ToOutToday-items?.NotPosted-items?.NotPostedToday-items?.ShipTodayToOutNotToday) > 0">
                Available : {{items?.Inv+items?.InvToday-items?.soQty-items?.ToOut-items?.ToOutToday-items?.NotPosted-items?.NotPostedToday-items?.ShipTodayToOutNotToday}}
                  </label>
                  <label style="margin-top:5px; color: #999;" *ngIf="(items?.Inv+items?.InvToday-items?.soQty-items?.ToOut-items?.ToOutToday-items?.NotPosted-items?.NotPostedToday-items?.ShipTodayToOutNotToday)<= 0">
                Available : 0
                  </label>
                </p>
            </td>
            <td align="right" valign="top">
                <button mat-icon-button style="margin-top: -20px; margin-right: -3px;"><mat-icon svgIcon="more" color="primary" (click)="openDialogStock(items)">
                </mat-icon></button><br> 
                <button class="btn disable" disabled *ngIf="(items?.Inv+items?.InvToday-items?.soQty-items?.ToOut-items?.ToOutToday-items?.NotPosted-items?.NotPostedToday-items?.ShipTodayToOutNotToday)<= 0" (click)="openDialogOrder(items)">Order</button>
                <button class="btn info" *ngIf="(items?.Inv+items?.InvToday-items?.soQty-items?.ToOut-items?.ToOutToday-items?.NotPosted-items?.NotPostedToday-items?.ShipTodayToOutNotToday) > 0" (click)="openDialogOrder(items)">Order</button>
            </td>
          </tr>

          <tr>
            <td colspan="3">
              <div *ngIf="this.data.user.company === 'UNICODISTRIBUSI'||this.data.user.company === 'KLASSEN'" style="margin-top: -20px;">
                  <p><label style="font-size: 12px; margin-left: 80px;">                        
                      Rp {{items?.Price3_view }} </label>
                  <label class="font-12-grey">&nbsp;/ {{items?.UOM}}</label></p>
              </div>
              <div *ngIf="this.data.user.company === 'SENTRALTUKANG'">
              <mat-expansion-panel style="margin-top: -4px;">
                <mat-expansion-panel-header [collapsedHeight]="customCollapsedHeightPrice" [expandedHeight]="customExpandedHeightPrice">
                  <mat-panel-title *ngIf="this.data.user.company === 'SENTRALTUKANG'">
                    
                    <div *ngIf="this.dataItem !== null">
                      <p *ngIf="this.dataItem.discGroup === undefined"><label style="font-size: 12px; margin-left: 55px;">                        
                          Rp {{items?.Price3_view }} </label>
                      <label class="font-12-grey">&nbsp;/ {{items?.UOM}}</label></p>

                      <p *ngIf="this.dataItem.discGroup === 'CASH' && this.data.user.dept_code === 'PDG'"><label style="font-size: 12px; margin-left: 55px;">                        
                        Rp {{items?.Price1_view }} </label>
                      <label class="font-12-grey">&nbsp;/ {{items?.UOM}}</label></p>

                      <p *ngIf="this.dataItem.discGroup === 'CASH' && this.data.user.dept_code === 'PKU'"><label style="font-size: 12px; margin-left: 55px;">                        
                          Rp {{items?.Price2_view }} </label>
                      <label class="font-12-grey">&nbsp;/ {{items?.UOM}}</label></p>

                      <p *ngIf="this.dataItem.discGroup === 'PKU_M_CASH'"><label style="font-size: 12px; margin-left: 55px;">                        
                          Rp {{items?.Price1_view }} </label>
                      <label class="font-12-grey">&nbsp;/ {{items?.UOM}}</label></p>

                      <p *ngIf="this.dataItem.discGroup === 'PKU_M_KRDT'"><label style="font-size: 12px; margin-left: 55px;">                        
                          Rp {{items?.Price3_view }} </label>
                      <label class="font-12-grey">&nbsp;/ {{items?.UOM}}</label></p>

                      <p *ngIf="this.dataItem.discGroup === 'PDG_KRDT'"><label style="font-size: 12px; margin-left: 55px;">                        
                        Rp {{items?.Price3_view }} </label>
                      <label class="font-12-grey">&nbsp;/ {{items?.UOM}}</label></p>

                      <p *ngIf="this.dataItem.discGroup === 'PDG_KRDT_M' && this.data.user.dept_code === 'PDG'"><label style="font-size: 12px; margin-left: 55px;">                        
                        Rp {{items?.Price2_view }} </label>
                      <label class="font-12-grey">&nbsp;/ {{items?.UOM}}</label></p>

                      <p *ngIf="this.dataItem.discGroup === 'PDG_KRDT_M' && this.data.user.dept_code === 'PKU'"><label style="font-size: 12px; margin-left: 55px;">                        
                        Rp {{items?.Price3_view }} </label>
                      <label class="font-12-grey">&nbsp;/ {{items?.UOM}}</label></p>

                    </div>
                    <p *ngIf="this.dataItem === null"><label style="font-size: 12px; margin-left: 55px;">                        
                        Rp {{items?.Price3_view }} </label>
                    <label class="font-12-grey">&nbsp;/ {{items?.UOM}}</label></p>
                  </mat-panel-title>
                  <!-- <mat-panel-title *ngIf="this.data.user.company !== 'SENTRALTUKANG'">            
                    <p><label style="font-size: 12px; margin-left: 55px;">                        
                        Rp {{items?.Price3_view }} </label>
                    <label class="font-12-grey">&nbsp;/ {{items?.UOM}}</label></p>
                  </mat-panel-title> -->

                </mat-expansion-panel-header>
                <hr align="right" width="80%" *ngIf="this.data.user.company === 'SENTRALTUKANG'">   
                    <table align="right" style="width: 80%;font-size: 12px; margin-left: 10%;" *ngIf="this.data.user.company === 'SENTRALTUKANG'">
                    
                      <div *ngIf="this.data.user.dept_code === 'PDG'">
                        <tr>
                          <td>Cash</td>
                          <td width="1%">:</td>
                          <td  align="right">Rp {{items?.Price1_view}} <label class="font-12-grey">/ {{items?.UOM}}</label></td>
                        </tr>
                        <tr>
                          <td>Member Kredit</td>
                          <td>:</td>
                          <td align="right">Rp {{items?.Price2_view}} <label class="font-12-grey">/ {{items?.UOM}}</label></td>
                        </tr>
                        <tr>
                          <td>Kredit</td>
                          <td>:</td>
                          <td align="right">Rp {{items?.Price3_view}} <label class="font-12-grey">/ {{items?.UOM}}</label></td>
                        </tr>
                      </div>
                     <div *ngIf="this.data.user.dept_code === 'PKU'">
                         <tr>
                          <td>Member Cash</td>
                          <td width="1%">:</td>
                          <td  align="right">Rp {{items?.Price1_view }} <label class="font-12-grey">/ {{items?.UOM}}</label></td>
                        </tr>
                         <tr>
                          <td>Cash</td>
                          <td>:</td>
                          <td align="right">Rp {{items?.Price2_view }} <label class="font-12-grey">/ {{items?.UOM}}</label></td>
                        </tr>
                         <tr>
                          <td>Member Kredit</td>
                          <td>:</td>
                          <td align="right">Rp {{items?.Price3_view }} <label class="font-12-grey">/ {{items?.UOM}}</label></td>
                        </tr>
                     </div>
                    </table>
                  </mat-expansion-panel>
                  </div>
                </td>
              </tr>
            </table>
          <mat-divider></mat-divider>
        </mat-list>
      </cdk-virtual-scroll-viewport>
    </div>

    <!-- // List Biasa -->
     <div *ngIf="item">
      <mat-list *ngFor="let items of item" class="example-item">         
          <br><br><br><br><br><br>
          <table style="font-size: 14px; width: 100%; margin-top: 16px;">
          <tr>
            <td valign="top" style="width:75px; height:75px;">
                 <img style="width:75px; height:75px; border: 1px solid #ddd; border-radius: 8px;" matListAvatar src="/assets/image/{{data.user.company}}/list/{{items?.No}}[0].png"  onerror="this.src='/assets/image/no-image.png'" [routerLink]="['/products/detail/', items?.No]">
            </td>
            <td valign="top" [routerLink]="['/products/detail/', items?.No]">
                  <p style="margin-top: 0px;position: relative;" *ngIf="items?.Description2 === undefined">
                    <label class="font-semi-bold">{{items?.Description | slice:0:30}}</label><br>
                    <label style="color: #008a00;margin-top:5px;" *ngIf="(items?.Inv+items?.InvToday-items?.soQty-items?.ToOut-items?.ToOutToday-items?.NotPosted-items?.NotPostedToday-items?.ShipTodayToOutNotToday) > 0">
                  Available : {{items?.Inv+items?.InvToday-items?.soQty-items?.ToOut-items?.ToOutToday-items?.NotPosted-items?.NotPostedToday-items?.ShipTodayToOutNotToday}}
                    </label>
                    <label style="margin-top:5px; color: #999;" *ngIf="(items?.Inv+items?.InvToday-items?.soQty-items?.ToOut-items?.ToOutToday-items?.NotPosted-items?.NotPostedToday-items?.ShipTodayToOutNotToday)<= 0">
                  Available : 0
                    </label>
                  </p>
                  <p style="margin-top: 0px;position: relative;" *ngIf="items?.Description2 !== undefined">
                    <label class="font-semi-bold">{{items?.Description | slice:0:30}}</label><br>
                    <label class="font-semi-bold" *ngIf="items?.Description2 !== ''">{{items?.Description2}} <br></label>
                    <label style="color: #008a00;margin-top:5px;" *ngIf="(items?.Inv+items?.InvToday-items?.soQty-items?.ToOut-items?.ToOutToday-items?.NotPosted-items?.NotPostedToday-items?.ShipTodayToOutNotToday) > 0">
                  Available : {{items?.Inv+items?.InvToday-items?.soQty-items?.ToOut-items?.ToOutToday-items?.NotPosted-items?.NotPostedToday-items?.ShipTodayToOutNotToday}}
                    </label>
                    <label style="margin-top:5px; color: #999;" *ngIf="(items?.Inv+items?.InvToday-items?.soQty-items?.ToOut-items?.ToOutToday-items?.NotPosted-items?.NotPostedToday-items?.ShipTodayToOutNotToday)<= 0">
                  Available : 0
                    </label>
                  </p>
              </td>
            <td align="right" valign="top">
                <button mat-icon-button style="margin-top: -20px; margin-right: -10px;"><mat-icon svgIcon="more" color="primary" (click)="openDialogStock(items)">
                </mat-icon></button><br> 
                <button class="btn disable" disabled *ngIf="(items?.Inv+items?.InvToday-items?.soQty-items?.ToOut-items?.ToOutToday-items?.NotPosted-items?.NotPostedToday-items?.ShipTodayToOutNotToday)<= 0" (click)="openDialogOrder(items)">Order</button>
                <button class="btn info" *ngIf="(items?.Inv+items?.InvToday-items?.soQty-items?.ToOut-items?.ToOutToday-items?.NotPosted-items?.NotPostedToday-items?.ShipTodayToOutNotToday) > 0" (click)="openDialogOrder(items)">Order</button>
            </td>
          </tr>
          
          <tr>
            <td colspan="3">
              <div *ngIf="this.data.user.company === 'UNICODISTRIBUSI'||this.data.user.company === 'KLASSEN'" style="margin-top: -20px;">
                  <p><label style="font-size: 12px; margin-left: 80px;">                        
                      Rp {{items?.Price3_view }} </label>
                  <label class="font-12-grey">&nbsp;/ {{items?.UOM}}</label></p>
              </div>
              <mat-expansion-panel style="margin-top: -4px;" *ngIf="this.data.user.company === 'SENTRALTUKANG'">
                <mat-expansion-panel-header [collapsedHeight]="customCollapsedHeightPrice" [expandedHeight]="customExpandedHeightPrice">
                  <mat-panel-title >
                    <!-- Costumer Price -->
                    <div *ngIf="this.dataItem !== null">
                      <p *ngIf="this.dataItem.discGroup === undefined"><label style="font-size: 12px; margin-left: 55px;">                        
                          Rp {{items?.Price3_view }} </label>
                      <label class="font-12-grey">&nbsp;/ {{items?.UOM}}</label></p>

                      <p *ngIf="this.dataItem.discGroup === 'CASH' && this.data.user.dept_code === 'PDG'"><label style="font-size: 12px; margin-left: 55px;">                        
                        Rp {{items?.Price1_view }} </label>
                      <label class="font-12-grey">&nbsp;/ {{items?.UOM}}</label></p>

                      <p *ngIf="this.dataItem.discGroup === 'CASH' && this.data.user.dept_code === 'PKU'"><label style="font-size: 12px; margin-left: 55px;">                        
                          Rp {{items?.Price2_view }} </label>
                      <label class="font-12-grey">&nbsp;/ {{items?.UOM}}</label></p>

                      <p *ngIf="this.dataItem.discGroup === 'PKU_M_CASH'"><label style="font-size: 12px; margin-left: 55px;">                        
                          Rp {{items?.Price1_view }} </label>
                      <label class="font-12-grey">&nbsp;/ {{items?.UOM}}</label></p>

                      <p *ngIf="this.dataItem.discGroup === 'PKU_M_KRDT'"><label style="font-size: 12px; margin-left: 55px;">                        
                          Rp {{items?.Price3_view }} </label>
                      <label class="font-12-grey">&nbsp;/ {{items?.UOM}}</label></p>

                      <p *ngIf="this.dataItem.discGroup === 'PDG_KRDT'"><label style="font-size: 12px; margin-left: 55px;">                        
                        Rp {{items?.Price3_view }} </label>
                      <label class="font-12-grey">&nbsp;/ {{items?.UOM}}</label></p>

                      <p *ngIf="this.dataItem.discGroup === 'PDG_KRDT_M'"><label style="font-size: 12px; margin-left: 55px;">                        
                        Rp {{items?.Price2_view }} </label>
                      <label class="font-12-grey">&nbsp;/ {{items?.UOM}}</label></p> 
                    </div>
                    <p *ngIf="this.dataItem === null"><label style="font-size: 12px; margin-left: 55px;">                        
                        Rp {{items?.Price3_view }} </label>
                    <label class="font-12-grey">&nbsp;/ {{items?.UOM}}</label></p>
                  </mat-panel-title>
                  <mat-panel-title *ngIf="this.data.user.company !== 'SENTRALTUKANG'">            
                    <p ><label style="font-size: 12px; margin-left: 55px;">                        
                        Rp {{items?.Price3_view }} </label>
                    <label class="font-12-grey">&nbsp;/ {{items?.UOM}}</label></p>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <hr align="right" width="80%" *ngIf="this.data.user.company === 'SENTRALTUKANG'">   
                    <table align="right" style="width: 80%;font-size: 12px; margin-left: 10%;" *ngIf="this.data.user.company === 'SENTRALTUKANG'">
                      <!-- Price 1 -->
                      <div *ngIf="this.data.user.dept_code === 'PDG'">
                         <tr>
                          <td>Cash</td>
                          <td width="1%">:</td>
                          <td  align="right">Rp {{items?.Price1_view}} <label class="font-12-grey">/ {{items?.UOM}}</label></td>
                        </tr>
                        <tr>
                          <td>Kredit</td>
                          <td>:</td>
                          <td align="right">Rp {{items?.Price2_view}} <label class="font-12-grey">/ {{items?.UOM}}</label></td>
                        </tr>
                        <tr>
                          <td>Member Kredit</td>
                          <td>:</td>
                          <td align="right">Rp {{items?.Price3_view}} <label class="font-12-grey">/ {{items?.UOM}}</label></td>
                        </tr>
                      </div>
                     <div *ngIf="this.data.user.dept_code === 'PKU'">
                         <tr>
                          <td>Member Cash</td>
                          <td width="1%">:</td>
                          <td  align="right">Rp {{items?.Price1_view }} <label class="font-12-grey">/ {{items?.UOM}}</label></td>
                        </tr>
                         <tr>
                          <td>Cash</td>
                          <td>:</td>
                          <td align="right">Rp {{items?.Price2_view }} <label class="font-12-grey">/ {{items?.UOM}}</label></td>
                        </tr>
                         <tr>
                          <td>Member Kredit</td>
                          <td>:</td>
                          <td align="right">Rp {{items?.Price3_view }} <label class="font-12-grey">/ {{items?.UOM}}</label></td>
                        </tr>
                     </div>
                    </table>
              </mat-expansion-panel>
            </td>
          </tr>
        </table>
        <mat-divider style="margin-left: 5%;width: 90%"></mat-divider>
      </mat-list>
    </div>
    </div>
  </div>
</mat-card>
</div>