.topLine{
  border: 0;
  height: 1px;
  top: 0%;
  background-image: linear-gradient(to right, rgba(0,0,0,0.10), rgba(0,0,0,0.10), rgba(0,0,0,0.10))
}
.tesLine{
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0))
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #f9f9f9 inset;
}

.pagination{
  background-color:white;
  color:grey;
  font-size:18px;
}

.mat-card:not([class*=mat-elevation-z]) {
    box-shadow:none;
}

p{
  line-height: 18px;
}

.label-name {
  background-color:#f2f2f2;
  margin-top:10px;
}

.label-name-text {
  color:#808080;
  margin-top:3px;
  margin-left:5px;
  font-size:19px;
}


/* search */
.body-search {
  height: 40px;
}

.search-form {
  position: relative;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 33px;
  background: #f9f9f9;
  border-radius: 5px;
  border: 1px solid #f2f2f2;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}
.search-form.focus {
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
}

.search-input {
  position: absolute;
  top: 5px;
  left: 40px;
  font-size: 14px;
  background: none;
  color: #5a6674;
  width: 88%;
  height: 20px;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
}
.search-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
          appearance: none;
}

.search-button {
  position: absolute;
  top: 4px;
  left: 10px;
  height: 20px;
  width: 20px;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none !important;
  cursor: pointer;
}

.search-option {
  position: absolute;
  text-align: right;
  top: 4px;
  right: 10px;
}
.search-option div {
  position: relative;
  display: inline-block;
  margin: 0 1px;
  cursor: pointer;
}
.search-option div input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.01;
  cursor: pointer;
}



/* menu */
.mat-card:not([class*=mat-elevation-z]) {
  box-shadow:none;
}

.docs-navbar-header {
display: flex;
flex-wrap: wrap;
align-items: center;
}

.flex-spacer {
flex-grow: 1;
}

.flex-spacer1 {
flex-grow: 3;
}

.docs-navbar-show-small {
display: none;
}

.font-10{
font-size: 10px !important;
color: grey;
}

.divider{
margin:0;
}

.app-navbar{
background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  box-shadow:0 0 1px 0 #ccc;
}

.order-page{
margin-top: 40px;
margin-left: 10px;
margin-right: 10px;
}

.button-order{
  padding: 3% 5%;
  font-size: 10px;
  border-radius:5px;
  background-color: white;
  color:#2492F4;
}
/* Button Order */
.btn {
  border: 1px solid black;
  border-radius:5px;
  background-color: white;
  color:#2492F4;
  padding: 5px 8px;
  font-size: 14px;
}
.info {
  border-color: #999;
  color: dodgerblue
}
.disable {
  border-color: #999;
  color: #999;
}

/* .info:hover {
  background: #2196F3;
  color: white;
} */

@media (max-width: 720px) {

.order-page{
  margin-top: -20px;
}

.image-size{
  height:382px;
  padding-left:16px;
  padding-right:16px;
}

.docs-navbar-hide-small {
  display: none;
}

.docs-navbar-show-small {
  display: block;
}

.navbar-detail{
  font-size: 18px;
  margin-left: 10%;
}

}

.navbar-detail1{
font-size: 18px;
margin-left: 20%;
}

/* input type number */
* {
box-sizing: border-box;
}

.input-number {
width: 40px;
vertical-align: top;
text-align: center;
outline: none;
}

.input-number,
.input-number-decrement,
.input-number-increment {
border: 1px solid #ccc;
height: 30px;
user-select: none;
}

.input-number-decrement,
.input-number-increment {
display: inline-block;
width: 30px;
line-height: 30px;
background: #fff;
color: #444;
text-align: center;
font-weight: bold;
cursor: pointer;
}
.input-number-decrement:active,
.input-number-increment:active {
background: #ddd;
}

.input-number-decrement {
border-right: none;
border-radius: 4px 0 0 4px;
}

.input-number-increment {
border-left: none;
border-radius: 0 4px 4px 0;
}

/* Start CSS Scrolling */
.example-viewport {
  height: 500px;
  width: 100%;
}

.example-item{
  display:flex;
}
.example-item div{
  width:100%;
}
.basic-container {
  padding: 30px;
}
/* End */
/* Start CSS Expation Customer */

.expation {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-top: -25px;
}

@media (min-width: 576px) {
  .expation {
    max-width: 540px;
    margin-left: 20px;
    width: 90%;
  }
}
@media (min-width: 650) {
  .expation {
    max-width: 580px;
    margin-left: 150px;
    width: 70%;
  }
}
@media (min-width: 718px) {
  .expation {
    max-width: 650px;
    margin-left: 150px;
    width: 70%;
    margin-bottom: -10px;
  }
}

@media (min-width: 768px) {
  .expation {
    max-width: 720px;
    margin-left: 130px;
    width: 68%;
  }
}
@media (min-width: 950px) {
  .expation {
    max-width: 850px;
    margin-left: 160px;
    width: 67%;
  }
}

@media (min-width: 992px) {
  .expation {
    max-width: 960px;
    /* margin-right: 100px; */
    width: 65%;
    margin-left: 200px;
  }
}

@media (min-width: 1200px) {
  .expation {
    max-width: 1140px;   
  }
}
.titleheader{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  align-items: center;
  text-align: center;
}
/* End */
mat-grid-tile{
  background:lightblue;
  width: 32em;
}
.font-14-normal{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}