.label-stock{
    font-size: 18px;
  }
  
  .font-family {
    font-family: 'Roboto';
  }
  
  @media (min-width: 100px) {
    .close {
      position: absolute;
      right:15%;
    }
  }
  
  @media (min-width:800px) {
    .close {
      position: absolute;
      right:20%;
    }
  }
  
  @media (min-width:1024px) {
    .close {
      position: absolute;
      right:25%;
    }
  }
  
  @media (min-width:1125px) {
    .close {
      position: absolute;
      right:30%;
    }
  }
  
  /* search */
  .body-search {
    height: 40px;
  }
  
  .search-form {
    position: relative;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 33px;
    background: #f9f9f9;
    border-radius: 5px;
    border: 1px solid #f2f2f2;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    transition: all 0.3s ease;
  }
  .search-form.focus {
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
  }
  
  .search-input {
    position: absolute;
    top: 5px;
    left: 40px;
    font-size: 14px;
    background: none;
    color: #5a6674;
    width: 195px;
    height: 20px;
    border: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    outline: none;
  }
  .search-input::-webkit-search-cancel-button {
    -webkit-appearance: none;
            appearance: none;
  }
  
  .search-button {
    position: absolute;
    top: 4px;
    left: 10px;
    height: 20px;
    width: 20px;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    outline: none !important;
    cursor: pointer;
  }
  
  .search-option {
    position: absolute;
    text-align: right;
    top: 4px;
    right: 10px;
  }
  .search-option div {
    position: relative;
    display: inline-block;
    margin: 0 1px;
    cursor: pointer;
  }
  .search-option div input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.01;
    cursor: pointer;
  }
  