<table>
  <tr>
    <td><label class="label-stock font-family">Sales Person</label></td>
    <td align="right"><button mat-icon-button style="margin-right: -15px;"><mat-icon svgIcon="close" (click)="onNoClick()"></mat-icon></button></td>
  </tr>
</table>
<mat-dialog-content>
<div *ngIf="!salesPerson" class="spinner">
  <mat-spinner [diameter]="30"></mat-spinner>
</div>
<div *ngIf="salesPerson">
  <mat-list *ngFor="let salesPersons of salesPerson" >
    <mat-list-item style="margin-top: -20px;" (click)="orderSales(salesPersons)">
      <p mat-line style="font-weight: 500;" class="font-14">{{salesPersons.code}}</p>
      <p mat-line class="font-14 normal-font">{{salesPersons.name}}</p>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
</div>
</mat-dialog-content>