<h2 mat-dialog-title>Term Of Payment</h2>
<mat-dialog-content class="mat-typography">
  <mat-list *ngFor="let items of toptop">
    <mat-list-item (click)="addTOP(items)">
      <p mat-line class="font-14 normal-font">Description :{{items.Code}}</p>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-flat-button color="primary" mat-dialog-close>Close</button>
</mat-dialog-actions>
