.expired{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: bold;
}
button{
  width: 100%;
}
@media only screen and (max-width: 600px) {
  .content {
    margin-top: -20px;
    margin-left: -30px;
    margin-right: -30px;
  }
}
.action{
  margin-top: -10px;
  margin-bottom: -8px;
}
p { 
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;

  text-align: center;
  letter-spacing: 0.01px;
  color: #000000;
 }