<div mat-dialog-content class="content">
  <p align="center">Either your email/password is incorrect.<br> Please try again.</p>
</div>
<div mat-dialog-actions class="action" align="center">
  <button mat-flat-button color="primary" class="btn-block" [mat-dialog-close]="true" cdkFocusInitial>Ok</button>
</div>