<!-- header component -->
<mat-toolbar class="app-navbar">
  <mat-toolbar-row *ngIf="token
  && router.url !== '/'
  && isDetailRoute(router.url)  
  && isProductsRoute(router.url)
  && isOrderRoute(router.url)">

    <button class="navigation-home" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon svgIcon="home"></mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item class="nav-list" *ngIf="data.user.role === 'SUPERUSER'" [routerLink]="['/accounts/user-profile']">User Profile</button>
      <mat-divider *ngIf="this.data.user.role === 'SUPERUSER'"></mat-divider>
      <button mat-menu-item class="nav-list" *ngIf="data.user.role === 'SUPERUSER'" [routerLink]="['/settings/company']">Company</button>
      <button mat-menu-item class="nav-list" *ngIf="data.user.role === 'SUPERUSER'" [routerLink]="['/settings/department']">Department</button>
      <button mat-menu-item class="nav-list" *ngIf="data.user.role === 'SUPERUSER'" [routerLink]="['/settings/role']">Role</button>
      <mat-divider *ngIf="data.user.role === 'SUPERUSER'"></mat-divider>
      <button mat-menu-item class="nav-list" *ngIf="data.user.role" [routerLink]="['/accounts/reset-password', this.data.user._id]">Change Password</button>
      <button mat-menu-item class="nav-list" (click)="logout()">Logout</button>
      <button mat-menu-item class="nav-list-v" disabled>v 1.3.3 </button>
    </mat-menu>

    <a mat-button class="docs-navbar-hide-small docs-button grey"
       *ngFor="let link of navLinks"
       [routerLink]="link.path">
      {{link.label}}
    </a>

    <span class="flex-spacer"></span>

    <img class="docs-angular-logo" src="/assets/image/SmallLogo.png">

    <span class="flex-spacer"></span>

    <a mat-icon-button class="navigation-so" [routerLink]="['/sales-order']">
      <mat-icon svgIcon="assignment" *ngIf="this.sales_order.chartQty == 0" matBadgeColor="primary"></mat-icon>
      <mat-icon svgIcon="assignment" *ngIf="this.sales_order.chartQty !== 0" matBadge="{{this.sales_order.chartQty}}" matBadgeColor="primary" matBadgePosition="before"></mat-icon>
    </a>

  </mat-toolbar-row>
</mat-toolbar>

<nav ng-sticky mat-tab-nav-bar mat-stretch-tabs class="example-stretched-tabs docs-navbar-show-small" *ngIf="token
  && router.url !== '/'
  && isDetailRoute(router.url)
  && isOrderRoute(router.url)
  && isProductsRoute(router.url)
  && isAccountsRoute(router.url)
  && isSettingsRoute(router.url)">
  <a mat-tab-link
     *ngFor="let link of navLinks"
     [routerLink]="link.path"
     routerLinkActive #rla="routerLinkActive"
     [routerLinkActiveOptions]="{exact:true}"
     [active]="rla.isActive">
    {{link.label}}
  </a>
</nav>

<!-- <div class='back-to-top' id='back-to-top' title='Back to top'>
  <img src="./assets/image/baseline_keyboard_arrow_up_black_18dp.png" alt="">
</div> -->

<router-outlet></router-outlet>
