.flex-spacer {
  flex-grow: 1;
}

.docs-angular-logo {
  height: 36px;
  width: 60px;
  vertical-align: middle;
}

.docs-navbar-show-small {
  display: none;
}

.mat-toolbar-row {
  padding: 0;
}

.app-navbar{
  background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}


@media (max-width: 720px) {

  .app-navbar{
    background-color: white;
      position:static;
      top: 0;
      left: 0;
      right: 0;
      z-index: 2;
  }

  .docs-navbar-hide-small {
    display: none;
  }

  .docs-navbar-show-small {
    display: block;
  }

  .docs-navbar {
    display: flex;
  }

  .example-stretched-tabs{
  background-color: white;
  /* position: fixed; */
  z-index: 2;
  width: 100%;
}
.example-stretched-tabs:hover{
  background-color: white;
}

}
.nav-list {
  font-size: 14px;
  color:black;
}

.nav-list-v {
  font-size: 12px;
  color:#999999;
}

.navigation-home{
  margin-left: 16px;
}

.navigation-so{
  margin-right: 16px;
}