<div class="mobile-page page">
  <div class="container-fluid">
    <mat-card class="p-3 pb-5 pt-3 mb-5 mt-4">

      <h4>
        <mat-icon>person_add</mat-icon>
        Add Role
      </h4>

      <mat-form-field color="accent" class="w-100">
        <input type="text" matInput [(ngModel)]="code" name="code" placeholder="Code" required>
        <button mat-button *ngIf="code" matSuffix mat-icon-button aria-label="Clear" (click)="code=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field color="accent" class="w-100">
        <input type="text" matInput [(ngModel)]="description" name="description" placeholder="description" required>
        <button mat-button *ngIf="description" matSuffix mat-icon-button aria-label="Clear" (click)="description=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

        <!-- <div class="table-responsive pt-2 pb-4 mb-3">
          <table mat-table [dataSource]="objectKeys()" class="mat-elevation">

            <ng-container matColumnDef="Code">
              <th mat-header-cell *matHeaderCellDef class="fs"> Code</th>
              <td mat-cell *matCellDef="let k" class="pr-3">
                <mat-checkbox class="margin-m1" name=resource[{{k}}]  placeholder="Code" value={{dataRole.roleGroup[0].permissions[k].resource}} [(ngModel)]=resource[dataRole.roleGroup[0].permissions[k].resource]></mat-checkbox>
              </td>
            </ng-container>

            <ng-container matColumnDef="Description">
              <th mat-header-cell *matHeaderCellDef class="fs"> Description </th>
              <td mat-cell *matCellDef="let k" class="pr-3">
                {{dataRole.roleGroup[0].permissions[k].resource}}
              </td>
            </ng-container>

            <ng-container matColumnDef="Action" class="p-3">
              <th mat-header-cell *matHeaderCellDef class="fs"> Action</th>
              <td mat-cell *matCellDef="let k" class="pr-3">
                <mat-form-field color="accent" class="input-p1">
                  <input type="text" matInput name=methods placeholder="GET;PUT;POST;DELETE"[(ngModel)]="methods[dataRole.roleGroup[0].permissions[k].resource]">
                </mat-form-field>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div> -->
          <button mat-flat-button color="primary" class="button-p1 float-right" (click)="saveRole()">Add</button>
    </mat-card>
  </div>
</div>
