<p mat-dialog-title class="font-16 normal-font font-medium">Clear existing order?</p>
<mat-dialog-actions align="end" class="button-row">
  <button mat-stroked-button style="color: #808080" mat-dialog-close>Close</button>
  <button mat-flat-button color="primary" [mat-dialog-close]="true" cdkFocusInitial (click)="deleteOrder()">OK</button>
</mat-dialog-actions>
