<div class="mobile-page">
  <div class="container-fluid">
    <mat-card class="p-3 pb-5 pt-3 mt-4">
        <h4>
          <table>
            <tr>
              <td style="width: 12px"><mat-icon svgIcon="assignment"></mat-icon></td>
              <td>List Accounts</td>
            </tr>
          </table>
        </h4>
        <div class="table-responsive pt-2 pb-4 mb-3">
          <table mat-table [dataSource]="dataUser" class="mat-elevation">
            <mat-form-field color="accent" class="w-100">
              <input type="email" [(ngModel)]="dataUser.email" #message matInput placeholder="Email" name="email" disabled>
            </mat-form-field>
            
            <ng-container matColumnDef="Name">
              <th mat-header-cell *matHeaderCellDef class="font-16"> Full Name </th>
              <td mat-cell *matCellDef="let data" class="pr-3"> {{data.name}} </td>
            </ng-container>

            <ng-container matColumnDef="Email">
              <th mat-header-cell *matHeaderCellDef class="font-16"> Email </th>
              <td mat-cell *matCellDef="let data" class="pr-3"> {{data.email}} </td>
            </ng-container>

            <ng-container matColumnDef="Company">
              <th mat-header-cell *matHeaderCellDef class="font-16"> Company </th>
              <td mat-cell *matCellDef="let data" class="pr-3"> {{data.company}} </td>
            </ng-container>

            <ng-container matColumnDef="Departement">
              <th mat-header-cell *matHeaderCellDef class="font-16"> Departement </th>
              <td mat-cell *matCellDef="let data" class="pr-3"> {{data.dept_code}} </td>
            </ng-container>

            <ng-container matColumnDef="approveLimit1">
              <th mat-header-cell *matHeaderCellDef class="font-16"> Approve Limit 1 </th>
              <td mat-cell *matCellDef="let data" class="pr-3"> <mat-checkbox [(ngModel)]="data['aproveLimit1']" class="w-100" name="firstApprove" disabled></mat-checkbox></td>
            </ng-container>

            <ng-container matColumnDef="approveLimit2">
              <th mat-header-cell *matHeaderCellDef class="font-16"> Approve Limit 2</th>
              <td mat-cell *matCellDef="let data" class="pr-3">
                <mat-checkbox [(ngModel)]="data['aproveLimit2']" class="w-100" name="secondApprove" disabled></mat-checkbox>
              </td>
            </ng-container>

            <ng-container matColumnDef="aproveDiscount">
              <th mat-header-cell *matHeaderCellDef class="font-16"> Approve Discount</th>
              <td mat-cell *matCellDef="let data" class="pr-3">
                <mat-checkbox [(ngModel)]="data['aproveDiscount']" class="w-100" name="approveDiscount" disabled></mat-checkbox>
              </td>
            </ng-container>

            <ng-container matColumnDef="Action">
              <th mat-header-cell *matHeaderCellDef class="font-16"> Action</th>
              <td mat-cell *matCellDef="let data" class="pr-3">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                  <mat-icon svgIcon="more_vert"></mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="forgotpassword(data._id)">
                    <mat-icon svgIcon="help"></mat-icon>
                    <span>Forgot Password</span>
                  </button>
                  <button mat-menu-item [routerLink]="['/accounts/reset-password', data._id]">
                    <mat-icon svgIcon="autorenew"></mat-icon>
                    <span>Reset</span>
                  </button>
                  <button mat-menu-item [routerLink]="['/accounts/user-profile-edit', data._id]">
                    <mat-icon svgIcon="update"></mat-icon>
                    <span>Edit User</span>
                  </button>
                  <button mat-menu-item (click)="deleteUser(data._id)">
                    <mat-icon svgIcon="delete"></mat-icon>
                    <span>Delete</span>
                  </button>
                </mat-menu>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

        </div>
        <button mat-flat-button color="primary" class="button-p1 float-right" routerLink="/accounts/register">Register</button>
    </mat-card>
  </div>
</div>
