<!-- <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> -->
<p mat-dialog-title>Submit This Order?</p>
<mat-dialog-actions class="button-row">
  <table style="width: 100%;">
    <tr>
      <td style="width: 50%;"><button mat-stroked-button style="color: #757575;" mat-dialog-close><font>Cancel</font></button></td>
      <td><button mat-flat-button color="primary" [mat-dialog-close]="true" cdkFocusInitial (click)="saveSalesOrder()"><font>Ok</font></button></td>
    </tr>
  </table> 
</mat-dialog-actions>
<!-- <div align="center">
  <mat-spinner></mat-spinner>
</div> -->
<style>
  p{
    font-family: 'Roboto', sans-serif; 
    font-size: 16px;
    color: black;
  }
  font{
    font-family: 'Roboto', sans-serif; 
    font-size: 12px;
    position: relative;
    vertical-align: center;
    text-align: center;
    margin-top : -30px;
  }
  button{
    font-family: 'Roboto', sans-serif; 
    font-size: 12px;
    width: 100%;
  }
</style>