<div class="container mt-8 mt-7">
  <div class="row justify-content-sm-center">
    <mat-card class="col-md-5">
      <form #f="ngForm" (ngSubmit)="login(f)">
         <img mat-card-image src="/assets/image/MediumSquareLogo.png" style="width:100px; height:100px;display: block; margin-left: auto; margin-right: auto;">
       <mat-card-content>
          <mat-form-field color="accent" class="w-100">
           <input  [(ngModel)]="email" (input)="checkEmail()" name="email" matInput placeholder="Email" #emailInput="ngModel" autofocus>
          </mat-form-field>
          <div class="errEmail" *ngIf="errEmail && check">
            <div *ngIf="this.email =='' "><span>Enter an email</span>
            </div>
            <div *ngIf="this.email !='' "><span>Enter a valid email</span>
            </div>
          </div>
          <mat-form-field color="accent" class="w-100">
           <input matInput [(ngModel)]="password"  (input)="checkPass()" name="password" placeholder="Password"  [type]="hide ? 'password' : 'text'" autocomplete="off">
           <mat-icon matSuffix (click)="hide = !hide" svgIcon="{{hide ? 'visibility' : 'visibility_off'}}"></mat-icon>
          </mat-form-field>
          <div class="errEmail" *ngIf="errPass && checkPassword "><span>Enter a password</span></div>
         <br><br>
        <button mat-flat-button class="btn-block" color="primary" type="submit">Log In</button>
       </mat-card-content>
     </form>
    </mat-card>
  </div>
</div>
