<div class="container-fluid">
	  <div *ngIf="data.messageType ==='success'" class="alert alert-{{data.messageType}} alert-dismissible fade show" role="alert">
	    <strong *ngIf="data.message !==true">{{ data.message }}..!!</strong>
	    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	      <span aria-hidden="true">&times;</span>
	    </button>
	  </div>
	  <div *ngIf="data.messageType ==='danger'">
	  	<div *ngFor="let alert of data.message" class="alert alert-{{data.messageType}} alert-dismissible fade show" role="alert">
		    <strong *ngIf="data.message !==true">{{ alert.msg }}</strong>
		    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		      <span aria-hidden="true">&times;</span>
		    </button>
		</div>
	  </div>
</div>
