<div class="mobile-page">
  <div class="container-fluid">
    <mat-card class="p-3 pb-5 pt-3 mt-4">
      <h4>
        <table>
          <tr>
            <td style="width: 1px;"><mat-icon svgIcon="assignment"></mat-icon></td>
            <td>List Company</td>
          </tr>
        </table>
      </h4>

      <div class="table-responsive mt-3 pt-2 pb-4 mb-3">

        <table mat-table [dataSource]="company" class="mat-elevation">

          <ng-container matColumnDef="Code">
            <th mat-header-cell *matHeaderCellDef> Code</th>
            <td mat-cell *matCellDef="let companies" class="pr-3"> {{companies.code}} </td>
          </ng-container>

          <ng-container matColumnDef="Description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let companies" class="pr-5"> {{companies.description}} </td>
          </ng-container>

          <ng-container matColumnDef="Address">
            <th mat-header-cell *matHeaderCellDef> Address </th>
            <td mat-cell *matCellDef="let companies" class="pr-5"> {{companies.address}} </td>
          </ng-container>

          <ng-container matColumnDef="Address1">
            <th mat-header-cell *matHeaderCellDef> Address 2 </th>
            <td mat-cell *matCellDef="let companies" class="pr-5"> {{companies.address1}} </td>
          </ng-container>

          <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef> Action</th>
            <td mat-cell *matCellDef="let companies" class="pr-3">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item  [routerLink]="['/settings/company/edit-company', companies._id]">
                  <mat-icon>update</mat-icon>
                  <span>Update</span>
                </button>
                <button mat-menu-item (click)="deletecompanies(companies._id)">
                  <mat-icon>delete</mat-icon>
                  <span>Delete</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <button mat-flat-button color="primary" class="button-p1 float-right" routerLink="/settings/company/add-company">Add Company</button>
    </mat-card>
  </div>
</div>
