<div class="product-page">
  <mat-card class="container col-md-8">
    <div class="justify-content-sm-center mb-4">

      <!-- data items -->
      <div *ngIf="salesOrder">
        <mat-list *ngFor="let so of salesOrder">
          <mat-list-item>
           
            <p mat-line class="font-12" >
                <b>{{so.Date}}</b> -- <b>{{so.DocNo}}</b> --  <b>{{so.Status}}</b>
            </p>
             <p mat-line class="font-12" >
               	<b>{{so.CustName}}</b> -- <b>{{so.Amount.toLocaleString(['ban', 'id'])}}</b>
            </p>
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </mat-card>
</div>
