<div class="mobile-page">
  <div class="container mt-5 mb-5">
    <div class="row justify-content-sm-center">
      <mat-card class="col-md-7">
        <h4>
          <mat-icon>colorize</mat-icon>
          {{title}}
        </h4>

        <p class="p-p1"><i>* Update Department</i></p>
        <mat-form-field color="accent" class="w-100">
          <input type="text" matInput [(ngModel)]="dataDepartment.code" name="code" placeholder="Code" disabled>
        </mat-form-field>

        <mat-form-field color="accent" class="w-100">
          <input type="text" matInput [(ngModel)]="dataDepartment.description" name="description" placeholder="Description" required>
          <button mat-button *ngIf="dataDepartment.description" matSuffix mat-icon-button aria-label="Clear" (click)="dataDepartment.description=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <mat-checkbox [(ngModel)]="dataDepartment.status" class="w-100" name="status">Status</mat-checkbox>
        <button mat-flat-button color="primary" class="button-p1 mt-3 mr-3 float-right" (click)="saveDepartment()">{{title}}</button>
      </mat-card>
    </div>
  </div>
</div>
