<div class="mobile-page page">
  <div class="container mt-5">
    <div class="row justify-content-sm-center">
      <mat-card class="col-md-5">
        <h3>
          <mat-icon>how_to_reg</mat-icon>
          {{title}}
        </h3>

        <p class="p-p1"><i>* Create New Password</i></p>

        <!-- get data profile email -->
        <mat-form-field color="accent" class="w-100">
          <input type="email" [(ngModel)]="dataUser.email" #message matInput placeholder="Email" name="email" disabled>
        </mat-form-field>

        <!-- input new password -->
        <mat-form-field color="accent" class="w-100">
          <input type="password" [(ngModel)]="password" #message minlength="6" matInput placeholder="New Password" name="password" required>
          <mat-hint align="start"><strong>Min 6 Character</strong></mat-hint>
          <mat-hint align="end">{{message.value.length}}</mat-hint>
          <button mat-button *ngIf="password" matSuffix mat-icon-button aria-label="Clear" (click)="password=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <!-- confirm new password  -->
        <mat-form-field color="accent" class="w-100">
          <input matInput type="password" [(ngModel)]="password1" #message4 placeholder="Confirm password" name="password1" required>
          <mat-hint align="start"><strong>Min 6 Character</strong></mat-hint>
          <mat-hint align="end">{{message4.value.length}}</mat-hint>
          <button mat-button *ngIf="password1" matSuffix mat-icon-button aria-label="Clear" (click)="password1=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <!-- button reset password -->
        <button mat-flat-button color="primary" class="login-button" class="button-p1 mt-3 mr-3 float-right" (click)="resetPassword()">{{title}}</button>
      </mat-card>
    </div>
  </div>
</div>
