<div class="product-page">
  <mat-card class="container col-md-8">
    <div class="justify-content-sm-center mb-4">
      <!-- search -->
      <div class="body-search">
        <form class="search-form">
          <input class="search-input" autocomplete="off" name="filter_description" (keyup.enter)="searchSo($event)" [(ngModel)]="filter_description" placeholder="Search">
          <button type="submit" class="search-button">
            <mat-icon class="submit-button" style="color:rgba(0, 0, 0, .20);">search</mat-icon>
          </button>
          <div class="search-option">
            <div>
              <label>
                <mat-icon *ngIf="this.filter_description == '' && this.filter_description == undefined"> </mat-icon>
                <mat-icon *ngIf="this.filter_description !== '' && this.filter_description !== undefined" class="edit-pen-title" style="color: rgba(0, 0, 0, .20);" (click)="ClearSearch()">close</mat-icon>
              </label>
            </div>
          </div>
        </form>
      </div>
      <div class="font-10 normal-font font-normal" *ngIf="filter_description">
        Date : {{this.weekStart}} - {{this.weekEnd}} | Search : {{filter_description}} 
      </div>
      <div class="font-10 normal-font font-normal" *ngIf="!filter_description">
          Date : {{this.weekStart}} - {{this.weekEnd}}
      </div>
      <div *ngIf="this.Scrool == 0">
        <br>
        <p align="center">
          <mat-icon style="width: 50px; transform: scale(2);color: rgb(100, 98, 98)" svgIcon="search"></mat-icon><br><br>
        Sorry, order "{{this.filters}}" cannot be found
        </p>
      </div>
      <div *ngIf="this.Scrool > 0">
      <!-- Virtual Scroll -->
      <div *ngIf="!salesOrder">
        <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport" autosize>
            <mat-list *cdkVirtualFor="let so of ds" class="example-item">
                
              <table *ngIf="so?.CustName" width="100%" (click)="getListSO(so?.DocNo)" style="margin-top:8px;">
                <tr>
                  <td class="font-14 normal-font" style="width: 65%;">{{so?.DocNo}}</td>
                  <td width="50%" align="right" class="font-12-500">{{so?.Date | date:'dd-MM-yyyy'}}</td>
                </tr>
                <tr>
                  <td class="font-16-normal" style="font-weight: 600">{{so?.CustName | slice:0:20}}</td>
                  <td class="font-16-normal" align="right">
                      <div class="font-14 font-medium normal-font" *ngIf="so?.Status === 'Open'">{{so?.Status}} </div>
                      <div class="font-16-500 green" *ngIf="so?.Status === 'Released'">{{so?.Status}} </div>
                      <div class="font-16-500 grey" *ngIf="so?.Status === 'Closed'">{{so?.Status}} </div>
                      <div class="font-16-500 orange" *ngIf="so?.Status === 'Pend. Approval'">{{so?.Status}}</div>
                      <div class="font-16-500 orange" *ngIf="so?.Status === 'Approve (1)'">{{so?.Status}}</div>
                      <div class="font-16-500 blue" *ngIf="so?.Status === 'Approve (2)'">{{so?.Status}}</div>
                      <div class="font-16-500 brown" *ngIf="so?.Status === 'Rejected'">{{so?.Status}}</div>
                      <div class="font-16-500 orange" *ngIf="so?.Status === 'Pend. Validation'">{{so?.Status}}</div>
                      <div class="font-16-500 normal-font" *ngIf="so?.Status === 'Submitted'">{{so?.Status}}</div>
                  </td>
                </tr>
                <tr >
                  <td class="font-16-normal" colspan="2">Rp {{so?.Amount.toLocaleString(['ban', 'id'])}}</td>
                </tr>
              </table>
              <mat-divider *ngIf="so?.CustName"></mat-divider>
            </mat-list>
          </cdk-virtual-scroll-viewport>
      </div>
      <!-- List Normal -->
      <div *ngIf="salesOrder">
            <mat-list *ngFor="let so of salesOrder " class="example-item">
                
              <table *ngIf="so?.CustName" width="100%" (click)="getListSO(so?.DocNo)" style="margin-top:8px;">
                <tr>
                  <td class="font-14 normal-font" style="width: 65%;">{{so?.DocNo}}</td>
                  <td width="50%" align="right" class="font-12 black">{{so?.Date | date:'dd-MM-yyyy'}}</td>
                </tr>
                <tr>
                  <td class="font-16-normal" style="font-weight: 600;">{{so?.CustName | slice:0:20}}</td>
                  <td class="font-16-normal" align="right">
                      <div class="font-14 normal-font" *ngIf="so?.Status === 'Open'">{{so?.Status}} </div>
                      <div class="font-16-normal green" *ngIf="so?.Status === 'Released'">{{so?.Status}} </div>
                      <div class="font-16-normal grey" *ngIf="so?.Status === 'Closed'">{{so?.Status}} </div>
                      <div class="font-16-normal orange" *ngIf="so?.Status === 'Pend. Approval'">{{so?.Status}}</div>
                      <div class="font-16-normal-font" *ngIf="so?.Status === 'Submitted'">{{so?.Status}}</div>
                      <div class="font-16-normal orange" *ngIf="so?.Status === 'Approve (1)'">{{so?.Status}}</div>
                      <div class="font-16-normal blue" *ngIf="so?.Status === 'Approve (2)'">{{so?.Status}}</div>
                      <div class="font-16-normal brown" *ngIf="so?.Status === 'Rejected'">{{so?.Status}}</div>
                      <div class="font-16-normal-font orange" *ngIf="so?.Status === 'Pend. Validation'">{{so?.Status}}</div>
                  </td>
                </tr>
                <tr >
                  <td class="font-16-normal" colspan="2">Rp {{so?.Amount.toLocaleString(['ban', 'id'])}}</td>
                </tr>
              </table>
              <mat-divider style="margin-left: 5%;width: 90%" *ngIf="so?.CustName"></mat-divider>
            </mat-list>
      </div>
    </div>
    </div>
  </mat-card>
</div>
