input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #f9f9f9 inset;
}

.pagination{
  background-color:white;
  color:grey;
  font-size:18px;
}

.mat-card:not([class*=mat-elevation-z]) {
    box-shadow:none;
}

p{
  line-height: 18px;
}

.label-name {
  background-color:#f2f2f2;
  margin-top:10px;
}

.label-name-text {
  color:#808080;
  margin-top:3px;
  margin-left:5px;
  font-size:19px;
}


/* search */
.body-search {
  height: 40px;
}

.search-form {
  position: relative;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 33px;
  background: #f9f9f9;
  border-radius: 5px;
  border: 1px solid #f2f2f2;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}
.search-form.focus {
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
}

.search-input {
  position: absolute;
  top: 5px;
  left: 40px;
  font-size: 14px;
  background: none;
  color: #5a6674;
  width: 88%;
  height: 20px;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
}
.search-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
          appearance: none;
}

.search-button {
  position: absolute;
  top: 4px;
  left: 10px;
  height: 20px;
  width: 20px;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none !important;
  cursor: pointer;
}

.search-option {
  position: absolute;
  text-align: right;
  top: 4px;
  right: 10px;
}
.search-option div {
  position: relative;
  display: inline-block;
  margin: 0 1px;
  cursor: pointer;
}
.search-option div input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.01;
  cursor: pointer;
}
.font-8{
  font-size: 8px;
  font-style: normal;
  font-weight: normal;
  color: #000000;
  line-height: 20px;
}
.font-16-normal{
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  color: #000000;
}
.font-12-500{
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  color: #000000;
}
.font-16-500{
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  color: #000000;
}
.green{
  color: #008A00;
}
.grey{
  color: rgb(172, 172, 172);
}
.brown{
  color: #ECBD8B;
}
.blue{
  color: blue;
}
.orange{
  color: rgb(255, 123, 0);
}
.black{
  color: #000000;
  font-weight: 500;
}
.example-viewport {
  height: 500px;
  width: 100%;
  max-width: 100%;
  /*border: 1px solid black;*/
}

.example-item{
  display:flex;
}
.example-item div{
  width:100%;
  /*margin:10px;*/
}
.basic-container {
  padding: 30px;
}