<div class="mobile-page">
  <div class="container mt-5 mb-5">
    <div class="row justify-content-sm-center">
      <mat-card class="col-md-7">
        <h4>
          <mat-icon>person_add</mat-icon>
          {{title}}
        </h4>

        <p class="p-p1"><i>* Create New Company</i></p>
        <mat-form-field color="accent" class="w-100">
          <input type="text" matInput [(ngModel)]="code" name="code" placeholder="Code" required>
          <button mat-button *ngIf="code" matSuffix mat-icon-button aria-label="Clear" (click)="code=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field color="accent" class="w-100">
          <input type="text" matInput [(ngModel)]="description" name="description" placeholder="Description" required>
          <button mat-button *ngIf="description" matSuffix mat-icon-button aria-label="Clear" (click)="description=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field color="accent" class="w-100">
          <textarea matInput #message2 maxlength="50" [(ngModel)]="address" name="address" placeholder="Address"></textarea>
          <mat-hint align="end">{{message2.value.length}} / 120</mat-hint>
          <button mat-button *ngIf="address" matSuffix mat-icon-button aria-label="Clear" (click)="address=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field color="accent" class="w-100">
          <textarea matInput #message3 maxlength="120" [(ngModel)]="address1" name="address1" placeholder="Address 2"></textarea>
          <mat-hint align="end">{{message3.value.length}} / 120</mat-hint>
          <button mat-button *ngIf="address1" matSuffix mat-icon-button aria-label="Clear" (click)="address1=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field color="accent" class="w-100">
          <span matPrefix>+62 &nbsp;</span>
          <input type="text" matInput minlength="6" [(ngModel)]="phone" name="phone" placeholder="No.Telphone">
            <button mat-button *ngIf="phone" matSuffix mat-icon-button aria-label="Clear" (click)="phone=''">
              <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>

        <mat-form-field color="accent" class="w-100">
          <input type="text" matInput [(ngModel)]="vatregistration" name="vatregistration" placeholder="VAT Registrasi">
            <button mat-button *ngIf="vatregistration" matSuffix mat-icon-button aria-label="Clear" (click)="vatregistration=''">
              <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>

        <mat-form-field color="accent" class="w-100 float-left">
          <input matInput type="text" [(ngModel)]="vatname" name="vatname" placeholder="VAT Name">
            <button mat-button *ngIf="vatname" matSuffix mat-icon-button aria-label="Clear" (click)="vatname=''">
              <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>

        <mat-form-field color="accent" class="w-100">
          <textarea matInput #message4 maxlength="120" [(ngModel)]="vataddress" name="vataddress" placeholder="VAT Address"></textarea>
            <mat-hint align="end">{{message4.value.length}} / 120</mat-hint>
            <button mat-button *ngIf="vataddress" matSuffix mat-icon-button aria-label="Clear" (click)="vataddress=''">
              <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>

        <mat-form-field color="accent" class="w-100">
          <textarea matInput #message5 maxlength="120" [(ngModel)]="vataddress1" name="vataddress1" placeholder="VAT Address 2"></textarea>
            <mat-hint align="end"> {{message5.value.length}} / 120</mat-hint>
            <button mat-button *ngIf="vataddress1" matSuffix mat-icon-button aria-label="Clear" (click)="vataddress1=''">
              <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>

        <mat-form-field color="accent" class="w-100">
          <input matInput type="text" [(ngModel)]="vatinvoiceauthorizedname" name="vatinvoiceauthorizedname" placeholder="VAT Auth Name">
            <button mat-button *ngIf="vatinvoiceauthorizedname" matSuffix mat-icon-button aria-label="Clear" (click)="vatinvoiceauthorizedname=''">
              <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>

        <mat-form-field color="accent" class="w-100">
          <input matInput type="text" [(ngModel)]="vatinvoiceauthorizedposition" name="vatinvoiceauthorizedposition" placeholder="VAT Auth Position">
            <button mat-button *ngIf="vatinvoiceauthorizedposition" matSuffix mat-icon-button aria-label="Clear" (click)="vatinvoiceauthorizedposition=''">
              <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <mat-checkbox [(ngModel)]="status" class="w-100" name="status">Status</mat-checkbox>
        <button mat-flat-button color="primary" class="button-p1 mr-3 mt-3 float-right" (click)="addcompany()">{{title}}</button>
      </mat-card>
    </div>
  </div>
</div>
