<div mat-dialog-content>
  <p class="expired">Update password succesfull</p>
</div>
<div mat-dialog-actions align="end" class="button-row">
  <button mat-flat-button color="primary" class="btn-block" [mat-dialog-close]="true" cdkFocusInitial (click)="login()">Ok</button>
</div>
