<p mat-dialog-title class="font-16 normal-font" style="font-weight: 500">Change the customer?</p>
<p class="font-14">This change may update the price of the product</p>
<mat-dialog-actions class="button-row">
  <table style="width: 100%;" class="font-12 normal-font">
    <tr>
      <td style="width: 50%;"><button mat-stroked-button style="color: #757575;" mat-dialog-close>Cancel</button></td>
      <td><button mat-flat-button color="primary" [mat-dialog-close]="true" cdkFocusInitial (click)="ordercustomer()">Ok</button></td>
    </tr>
  </table> 
</mat-dialog-actions>